{%import "chunks.part.html" as chunks %}
{%import "remotecontent.part.html" as rmt %}
{#

Behaviour variables:

title_width: width of title block, default 7
menu_block(bool): show menu block, default true
banner_text_columns(int): width of banner block, default 7
banner_text_block(bool): show banner text block, default true

#}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ titletag|default(pagetitle) }}</title>

    {% block og %}
<meta property="og:site_name" content="Report mobile and Internet Service Providers blocking sites" />
<meta property="og:type" content="article" />
<meta property="article:author" content="https://www.openrightsgroup.org" />
<meta property="og:locale" content="en_GB" />
<meta property="og:title" name="twitter:title" content="{{ pagetitle }}" />
<meta name="twitter:site" content="" />
<meta name="twitter:site:id" content="" />
<meta property="og:url" name="twitter:url" content="{{request.url}}" />
<meta property="og:description" name="twitter:description" content="{{ g.remote_chunks.browseOgDescription|default('Report incorrectly blocked sites on UK ISP and mobile networks') }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" property="og:image" content="https://www.blocked.org.uk/assets/images/blocked/socialmedia/blocked_result.jpg" />
    {% endblock %}

    <!-- Bootstrap -->

<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/theme2.css?cb={{config.CACHEBUST}}" />
    <style type="text/css">
      {% block page_style %}
      {% endblock %}
    </style>
  </head>
  <body>
    {{ chunks.piwik() }}
    <!-- ADMIN MODE: {{ g.admin }} -->

<!-- 
              {% if session.admin %}
              <a href="{{ url_for('admin.logout') }}" title="Log out"><span class="badge badge-info">{{ session.admin_level|title }}</span></a>
              {% endif %}
-->
              
    <div class="toprow">
    <div class="container">

    <div class="row menurow">
        <div class="col-md-5">
            <a href="/" title="Return to homepage">
                <div class="sitetitle">BLOCKED</div>
            </a>
            <div class="subtitle">A web transparency campaign from <strong>OPEN RIGHTS GROUP</strong></div>
        </div>
        <div class="col-md-7 mainmenu">
          {# chunks.main_menu() #}
          <div>
            <a class="active" href="/">Home</a>
            <a class="" href="/reported-sites">Reported Sites</a>
            <a class="" href="/personal-stories">Personal Stories</a>
            <a class="" href="/stats">Statistics</a>
            <a class="" href="/about">About</a>
          </div>
        </div>
    </div>
    
    </div>
    </div> <!-- /.toprow -->
    <div class="topbar"></div>
    <div class="middlerow">
    <div class="container">

    <div class="row">
        
    <div class="col-md-6 body-left">
      {% if pagerole %}
      <div class="pagerole">{{pagerole}}</div>
      {% endif %}
      {% block h1_title %}
      <h1>{{ title }}</h1>
      {% endblock %}
      {% block subtitle %}{% endblock %}
      {% block urllink %}
      {% if url %}
      <div class="url"><a href="{{url}}" rel="nofollow" target="_blank">{{url}}</a>
      <span class="glyphicon glyphicon-share"></span>
      </div>
      {% endif %}
      {% endblock %}
      
    {% block body %}{%endblock%}      
    </div>
    <div class="col-md-6 body-right">

    {% if menu_block| default(True) %}
    <div class="pagemenu pagemenu-main">
      {% block page_menu %}{% endblock %}
    </div>
    {% endif %}

    {% if banner_text_block | default(True) %}
    <div class="col-md-{{ banner_text_columns | default('6') }}">
      <p {{rmt.remote_style('banner_text')}}>{%block banner_text%}{% endblock %}</p>
    </div>
    {% if menu_block_alt| default(False) %}
    <div class="col-md-4 col-md-offset-2 pagemenu pagemenu-alt">
      {% block page_menu_alt %}{% endblock %}
    </div>
    {% endif %}
    {% endif %}
    {% block body_right %}{% endblock %}
    </div> <!-- /.body-right -->
    </div> <!-- /.row -->
    
    </div> <!-- /.container -->
    </div> <!-- /.middlerow -->

    {% block body_after_row %}{% endblock %}

<div class="shaded">
    <div class="container">
<div class="row">
    <div class="col-md-5">
<h3>We are grateful for support offered to Blocked by:</h3>

<div>A&amp;A</div>
<div>Bytemark</div>
<div>Top10VPN</div>

{#chunks.contactChunk() #}
    </div>

    <div class="col-md-6 col-md-offset-1 shaded-light">
    <h3>Spread the word</h3>
    <p>Many people don't know about the problems with web filters yet.</p>
    <p>Please share the Blocked tool on social media to help raise awareness.  The more
    mistakes we can correct, the more people will have access to critical websites.
    </p>
        <div class="connect">
<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//blocked.org.uk"><img src="https://www.openrightsgroup.org/assets/images/site/icons/social/svg/facebook.svg" alt="" title="" width="40" height="40"></a>
<a href="https://twitter.com/home?status=Websites%20are%20being%20blocked%20in%20the%20UK.%20Find%20out%20if%20your%20site%20is%20one%20of%20them%20at%20https%3A//blocked.org.uk"><img src="https://www.openrightsgroup.org/assets/images/site/icons/social/svg/twitter.svg" alt="" title="" width="40" height="40"></a>
			
		</div>    
    </div>
</div> <!-- /.row -->

    </div> <!-- /.container -->
</div>    

<div class="shaded shaded-light">
<div class="container">
    <div class="row">
        <div class="col-md-12">
    <footer>
        <h3 style="text-align: center">More links</h3>
        
        <div class="morelinks class="row">
        <div class="col-md-3 col-md-offset-2">
            <div><a class="" href="https://action.openrightsgroup.org/sign-up-for-org-email-updates">Stay in touch</a></div>
            <!-- <a class="" href="/support">Support</a> -->
            <div><a class="" href="/credits">Credits</a></div>
            <div><a class="" href="/stats/probes">Probe Status</a></div>
        </div>
        <div class="col-md-3">
            <div><a class="" href="/legal-blocks">Court Ordered Blocks</a></div>
            <div><a class="" href="/dea-blocking-orders">Age-verification Blocks</a></div>
            <div><a class="" href="/support">Get involved</a></div>
        </div>
        <div class="col-md-3">
            <div><a class="" href="https://www.openrightsgroup.org/donate/">Donate</a></div>
            <div><a class="" href="https://www.openrightsgroup.org/contact/">Contact</a></div>
            <div><a class="" href="https://www.openrightsgroup.org/privacy/">Privacy Policy</a></div>
        </div>
        </div>
        
        
        
        
    </footer>
        </div>
    </div> <!-- /.container -->
</div>    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {%block page_js_libs%}{%endblock%}
    <script type="text/javascript">
    {%block page_script%}{%endblock%}
    </script>
  </body>
</html>
