
@import url('https://fonts.googleapis.com/css?family=Poppins:600|Roboto');

h1, .pctlg, #blockcount {
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 52px;
}

body {
}

.toprow {

    background-color: #fff3c1;
}    

.middlerow {
    background-color: #fdd835;
}

.frontpage-text {
    background-color: #fff3c1;
}

.sitetitle {
    font-size: 48pt;
    font-weight: bold;
    color: #cc0000;
    text-shadow: 
}

#blockcount {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}


h3, .pctdesc, .pagerole, .page_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

a {
  text-decoration: underline;
  color: #111;
}

a.btn {
    text-decoration: none;
    }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.shaded-row, .sitelistrow, footer {
  background-color: #eee;
}

.menurow {
  margin-top: 1.5em;
}

.row {
  padding-top: 0.5em;
  padding-bottom: 2em;
}
.menu, footer {
    text-align: center;
}

footer {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 0px;
}

.menu a, #categoryname, footer a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-right: 2em;
  color: #111;    
  font-size: 16px;
}

.menu a.active {
  color: #a00;
}

#categoryname {
  color: darkgray;
}

.menu a.current {
  color: #c11;
}

.menu a:active {
  color: #c11;
}

.pagemenu {
  font-family: 'Poppins', sans-serif;
}

.pagemenu-main {
    padding-top: 3em;
}

.pagemenu div {
  margin-bottom: 0.2em;
}

.pctlg {
  font-size: 64px;
}

form {
margin-top: 2em;
}

.randomurl {
font-size: 125%;
}

.fpaction  div {
    padding-bottom: 0.5em ;
}

.fpaction .site {
    background-color: #f8f8f8;
    padding: 0.5em;
    margin-bottom: 0.5em
}

.fpaction .site div {
    padding-bottom: 0px;
}

.fpaction {
    padding-bottom: 0.5em;
}

.fpaction .buttonlist {
padding-left: 0.5em;
padding-top: 4.0em;
}

/* search results */

#results * a.btn {
    text-decoration: none;
    }

#results h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 35em;

    }

#results * td.reveal a {
    display: none;
}

#results * tr td a, .sitereport a {
    padding-right: 0.75em;
    text-decoration: underline;
    text-transform: uppercase;
}

#results * tr:hover td.reveal a {
    display: inline-block;

}
#results * td {
    width: 15%;
    vertical-align: middle;
    text-align: center;
    }
#results * td:last-child {
    width: 40%;
    text-align: right;
    }
#results * td:first-child {
    width: 30%;
    text-align: left;
    }

/* end search results */

/* results */

.info-panel {
    padding: 1em;
    padding-left: 4em;
    background-color: #eee;
}

.info-panel span {
    margin-left: -1.75em; 
    margin-top: 0.15em;
    float: left; 
    font-size: 1.5em;
}

.info-panel small a {
    color: #444;
}

#active * td {
    background-color: #ffeded;
}

#past * td, #active .disabled td {
    background-color: #ececec;
    }

#allresults * td {
    background-color: #edffed;
    }
#allresults tr.error td {
    background-color: #ffffed;
    }

.results-table th {
    width: 25%;
}

.results-table th:first-child {
    width: 30%;
}


/* end results */

a.btn-default, a.btn-primary {
    text-decoration: none;
}

td.sitereport {
    width: 15%;
    }

div.sitereport {
    margin-top: 0.25em;
}



.showmore {
    text-align: right;
}

.showmore a {
    margin-left: 2em;
    }

.pagerole {
    margin-bottom: 0.5em;
    }

.url {
    color: grey;
    text-overflow: ellipsis;
}

.url a {
    color: grey;
}

a.btn-primary, button.btn-primary, input.btn-primary, a.btn-default{
  text-transform: uppercase;
  background-color: black;
  background-image: none;
  border-radius: 0px;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);

}

input.form-control, textarea.form-control, input[type=checkbox] {
  border-color: black;
  border-radius: 0px;
}


#loading {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;
  background-color: lightgray;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#paging {
    margin-top: 1.5em;
    }


.btn-primary[disabled] {
    background-color: #808080 !important;
}

td.num {
    text-align: right;
}

th.num {
    text-align: right;
}

.topstrip {
    background-color: black;
    color: #dfdfdf;
    font-family: 'Poppins', sans-serif;
}
.topstrip2 {
    background-color: #eee;
    padding-top: 0.5em;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

.topstrip2 .row {
    padding-bottom: 0.5em !important;
}

.topstrip .row {
    text-align: right;
    padding-bottom: 0.5em;
}

.topstrip .row a {
    margin-left: 0.25em;
}

.progress-bar {
    background-image: linear-gradient(to bottom,#333333 0,#282828 100%);
}

.sendisps {
    margin-top: 0.5em;
}

.sendisps span {
    font-weight: bold;
}

.networklist ul {
    margin-left: 0px;
    padding-left: 0px;
}

.networklist ul li {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.stats {
    font-family: 'Roboto', sans-serif;
}

.stats .row {
    padding-bottom: 0.5em;
}

.stats div span {
    font-size: 26pt;
    font-family: 'Poppins', sans-serif;

    color: #bf2026;
    display: block;
    line-height: 1.1em;
}

.stats div {
    line-height: 1.2em;
    font-size: 14pt;
    margin-bottom: 1.0em;
}

.frontpage-text p {
    margin-bottom: 1em;

    line-height: 1.4;
}

p.report-message {
    margin-top: 0.5em;

}
p.report-message span {
    color: #a0a0a0;
}

.topstrip2 * form {
margin-top: 6px;
}
