{% extends "BasicPage.html" %}

{%set pagetitle = "Taking action against censorship from Internet Service Providers" %}

{% block banner_text %}
  <p>The UK government has pressured Internet Service Providers (ISPs) into promoting filters to prevent children and young people from seeing internet content that is supposed to be for over 18s.  This may seem like a good idea, but in reality filters block much more than they are supposed to, which means information is being censored.</p>

  <p>It is very possible that sites you care about are being restricted.  The Blocked project is here to help prevent this from happening.</p>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-7">

<h2>How blocked works</h2>

<p></p>

<h3>Project aims</h3>

<p></p>

<h3>Future plans</h3>

<p></p>

</div>
</div>


{{ chunks.contactForm() }}


<div class="row shaded-row">
{{ chunks.contactChunk() }}
</div>

{% endblock %}
