{% extends "BasicPage.page.html" %}

{%set pagetitle = "Websites being blocked by UK Internet Service Providers" %}


{%block banner_text %}

A great many websites are being blocked mistakenly as a result of government imposed filters used by Internet Service Providers.  We need your help to check and unblock these websites.  This is something anyone with a web browser can assist with.

{% endblock %}

{% block body %}
<!-- template BasicPage -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" />
<div class="row">
<div class="col-md-4">

<form class="form category-form" action="#">
<div class="form-group">
<label for="category">What category of site do you want to check?</label>
<select name="category"  id="category" style="width: 100%">

</select>
</div>
</form>

</div>
<div class="pagemenu col-md-4 col-md-offset-4">

<div><a href="{{ url_for('random_category') }}">Browse a random category</a></div>
<div><a href="/check">Check a specific website</a></div>

</div>
</div> <!-- /.row -->

<div class="row sitelistrow">
<div class="col-md-12">

<div id="categoryname">Blocked sites in category "{{ data.name }}"</div>
<div id="blockcount">{{ data.total_blocked_url_count }} blocked sites</div>

{% if data.total_blocked_url_count < 100 %}
<p>To find more blocked sites, try the parent category, <a href="{{ url_for('blocked_sites', category=parentid) }}">{{ parentname }}</a></p>
{% endif %}

<table class="table table-hover" id="results">
{% for item in data.sites %}
<tr>
  <td><h4>{{item.title}}</h4><div>{{item.url}}</div></td>
  <td class="reveal">
    <a href="{{item.url}}" rel="nofollow" target="_blank">Visit Site</a>
    <a href="{{ url_for('site', url=item.url) }}">View site report</a>
  </td>
  <td>
  {% if item.last_reported is none %}
  <a class="btn btn-default" href="{{ url_for('unblock', url=item.url) }}">Request Unblock</a>
  {% else %}
  <a class="btn btn-primary btn-disabled" disabled rel="nofollow">Unblock Requested</a>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>
<div id="paging">
{% if page > 0 %}
<a href="{{ url_for('blocked_sites', category=category, page=page-1) }}" class="btn btn-primary" id="prevpage"><span class="glyphicon glyphicon-backward"></span> Previous Page</a>
{% endif %}
<a href="{{ url_for('blocked_sites', category=category, page=page+1) }}" class="btn btn-primary" id="nextpage">Next Page <span class="glyphicon glyphicon-forward"></span></a>
<div>


</div>
</div> <!-- /.sitelistrow -->
{% endblock %}

{% block page_script %}
  var catid = 1;
  var off = 0;
  function formatresult(obj) {
   if (obj.loading) return obj.text;
   var out = $('<div><strong>' + obj.text + ' (' + obj.total_blocked_url_count + ') ' 
    + '</strong><div>' + obj.display_name + '</div></div>');
  
    return out;
  
  }

  
  $(document).ready(function(){
    $('#category').select2({
      placeholder: "Search for a category...",
      minimumInputLength: 2,
      templateResult: formatresult,
      ajax: {
        url: "/apicategorysearch",
        dataType: 'json',
        delay: 250,
        dropdownCssClass: "bigdrop",
        allowClear: true,
        data: function(term, page) {
          return term;
        },
        processResults: function(data) {
          return { results: 
            $.map(data.categories, function(obj) { obj.text = obj.name; return obj; }) 
          };
        },   
      }
    });
    $('#category').on('select2:select', function(e) {
        var id = $('#category').val();
        catid = id;
        window.location.href='/blocked-sites/'+catid;
    });
  });
{% endblock %}

{% block page_js_libs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>

{% endblock %}
