{% extends "BasicPage.page.html" %}

{%set pagetitle = "Check if a site is being blocked" %}

{% block body %}

<!-- template: BasicPage -->
<div class="row">
<div class="col-md-7">

<p>Enter the URL of a website to find out if it is blocked by UK filters. Our tool will check instantly to see where it can be accessed. </p>
<form action="/site" method="GET" class="form form-inline">

<div class="form-group">
  <label for="url">Website address</label>
  <div class="control-group">
    <div class="input-group">
    <input style="width: 36em" type="text" placeholder="http://" name="url" id="url" class="form-control" />
    <span class="input-group-btn">
    <input type="submit" value="Check site" class="btn btn-primary" />
    </span>
    </div>
  </div>
</div>

</form>

</div>
</div>
<div class="row shaded-row">
{{ chunks.contactChunk() }}
</div>
{% endblock %}
