{% extends "BasicPage.page.html" %}

{%set pagetitle = "Check if a site is being blocked" %}

{% block body %}

<!-- template: BasicPage -->
<div class="row">
<div class="col-md-7">

<form action="{{url_for('.check_post')}}" method="POST" class="form form-inline">
<input type="hidden" name="submit" value="{{live | lower }}" />

<div class="form-group">
  <label for="url">Website address</label>
  <div class="control-group">
    <div class="input-group">
    <input type="text" style="width: 36em" placeholder="http://" name="url" id="url" class="form-control" />
    <span class="input-group-btn">
    <input type="submit" value="Check site" class="btn btn-primary" />
    </span>
    </div>
  </div>
</div>

</form>
</div>
</div> <!-- /.row -->
<div class="row">
<div class="col-md-12">
    {{ remote_content.TextAreaOne|replace('<table','<table class="table"') | safe }}
</div>
</div>
<div class="row shaded-row">
{{ chunks.contactChunk() }}
</div>
{% endblock %}
