
{%macro contactForm(rowClass="") %}
{% if config.SITE_THEME == 'blocked-uk' %}
<div class="row {{rowClass}}">
<div class="col-md-6">
<h3>Stay informed</h3>
</div>
</div>
<div class="row {{rowClass}}">
<div class="col-md-6">

<p>If you would like to stay informed about ORG's work in censorship, privacy, copyright reform and defending human rights and digital civil liberties, please sign up for our newsletter.</p>

</div>
<div class="col-md-6">

  <a class="btn btn-lg btn-primary" href="https://action.openrightsgroup.org/sign-up-for-org-email-updates">Sign up</a>

</div>
</div>
{% endif %}
{%endmacro%}

{%macro contactChunk() %}
{% if g.remote_chunks.contactChunk %}
{{ g.remote_chunks.contactChunk | safe }}
{% else %}
<!-- built-in -->
<div class="col-md-4">
<h3>Support the project</h3>

<p>You can join the Open Rights Group or <a href="#">donate</a> to <a href="/support">support the project</a>.</p>

<p>With your help we can build bigger and better tools to fight censorship and surveillance</p>
</div>


<div class="col-md-4">
<h3>Spread the word</h3>

<p>Share the Blocked project on social media and help raise awareness of censorship</p>

	<div class="connect">
			<a href="https://www.facebook.com/openrightsgroup">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_facebook.png" alt="" title="" width="30" height="29"></a>
			<a href="https://twitter.com/openrightsgroup">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_twitter.png" alt="" title="" width="30" height="29"></a>
			<a href="https://plus.google.com/u/0/116543318055985390327/posts">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_googleplus.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.flickr.com/photos/tags/openrightsgroup/">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_share.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.youtube.com/openrightsgroup">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_youtube.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.linkedin.com/groups/Open-Rights-Group-133233">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_linkedin.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.meetup.com/ORG-London/">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_red.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.openrightsgroup.org/feed/">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_rss.png" alt="" title="" width="30" height="29"></a>
			<a href="https://soundcloud.com/openrightsgroup">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_cloud.png" alt="" title="" width="30" height="29"></a>
			<a href="https://openrightsgroup.tumblr.com">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_tumblr.png" alt="" title="Tumblr" width="30" height="29"></a>
		</div>

</div>
{% endif %}
{%endmacro%}

{% macro menu_link(title, url) %}
<a class="{{ 'active' if request.path.startswith(url) else ''}}" href="{{url}}">{{title}}</a>
{% endmacro %}
{% macro menu_link_eq(title, url) %}
<a class="{{ 'active' if request.path == url else ''}}" href="{{url}}">{{title}}</a>
{% endmacro %}


{% macro main_menu() %}
<a class="{{ 'active' if request.path == '/' else ''}}" href="/">Home</a>
{% if config.MODULE_CATEGORY %}
<a class="{{ 'active' if request.path.startswith( ('/blocked-sites','/site','/check','/unblock','/thanks')) else ''}}" href="/sites">Blocked Sites</a>
{% endif %}
{% if config.MODULE_UNBLOCK %}
{{ menu_link("Reported Sites", '/reported-sites') }}
{% endif %}
{# menu_link("Court Order Blocks", '/legal-blocks') #}
{{ menu_link("Your Stories", '/personal-stories') }}

{{ menu_link_eq("Statistics", '/stats') }}
{{ menu_link("About", '/about') }}
{% if config.SITE_THEME == 'blocked-eu' %}
{{ menu_link("Contact", '/contact') }}
{% endif %}

{% endmacro %}

{% macro piwik() %}
<!-- Matomo -->
{% if config.PIWIK %}

<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://bug.openrightsgroup.org/piwik/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '14']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

{% endif %}
<!-- End Matomo Code -->    
{% endmacro %}

{% macro footer_menu() %}
            <a class="" href="https://action.openrightsgroup.org/sign-up-for-org-email-updates">Stay in touch</a>
            <!-- <a class="" href="/support">Support</a> -->
            <a class="" href="/credits">Credits</a>
            <a class="" href="/stats/probes">Probe Status</a>
            <a class="" href="/legal-blocks">Court Ordered Blocks</a>
            <a class="" href="/dea-blocking-orders">Age-verification Blocks</a>
            <a class="" href="/support">Get involved</a>
            <a class="" href="https://www.openrightsgroup.org/donate/">Donate</a>
            <a class="" href="https://www.openrightsgroup.org/contact/">Contact</a>
            <a class="" href="https://www.openrightsgroup.org/privacy/">Privacy Policy</a>
{% endmacro %}
