
{%macro contactForm(rowClass="") %}

<div class="row {{rowClass}}">
<div class="col-md-6">
<h3>Stay informed</h3>
</div>
</div>
<div class="row {{rowClass}}">
<div class="col-md-6">

<p>If you would like to stay informed about ORG's work in censorship, privacy, copyright reform and defending human rights and digital civil liberties, please sign up for our newsletter.</p>

</div>
<div class="col-md-6">

  <a class="btn btn-lg btn-primary" href="https://action.openrightsgroup.org/sign-up-for-org-email-updates">Sign up</a>

</div>
</div>
{%endmacro%}

{%macro contactChunk() %}
{% if g.remote_chunks.contactChunk %}
{{ g.remote_chunks.contactChunk | safe }}
{% else %}
<!-- built-in -->
<div class="col-md-4">
<h3>Support the project</h3>

<p>You can join the Open Rights Group or <a href="#">donate</a> to <a href="/support">support the project</a>.</p>

<p>With your help we can build bigger and better tools to fight censorship and surveillance</p>
</div>

<div class="col-md-4">
<h3>Share your story</h3>

<p>Is a site being blocked affecting your personally?</p>

<p>We are collecting <a href="#">personal stories</a> to help petition ISPs.</p>

</div>

<div class="col-md-4">
<h3>Spread the word</h3>

<p>Share the Blocked project on social media and help raise awareness of censorship</p>

	<div class="connect">
			<a href="https://www.facebook.com/openrightsgroup">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_facebook.png" alt="" title="" width="30" height="29"></a>
			<a href="https://twitter.com/openrightsgroup">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_twitter.png" alt="" title="" width="30" height="29"></a>
			<a href="https://plus.google.com/u/0/116543318055985390327/posts">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_googleplus.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.flickr.com/photos/tags/openrightsgroup/">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_share.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.youtube.com/openrightsgroup">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_youtube.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.linkedin.com/groups/Open-Rights-Group-133233">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_linkedin.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.meetup.com/ORG-London/">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_red.png" alt="" title="" width="30" height="29"></a>
			<a href="https://www.openrightsgroup.org/feed/">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_rss.png" alt="" title="" width="30" height="29"></a>
			<a href="https://soundcloud.com/openrightsgroup">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_cloud.png" alt="" title="" width="30" height="29"></a>
			<a href="https://openrightsgroup.tumblr.com">
				<img src="https://www.openrightsgroup.org/assets/site/org/images/social_tumblr.png" alt="" title="Tumblr" width="30" height="29"></a>
		</div>

</div>
{% endif %}
{%endmacro%}

{% macro menu_link(title, url) %}
<a class="{{ 'active' if request.path.startswith(url) else ''}}" href="{{url}}">{{title}}</a>
{% endmacro %}


{% macro main_menu() %}
<a class="{{ 'active' if request.path == '/' else ''}}" href="/">Home</a>
<a class="{{ 'active' if request.path.startswith( ('/blocked-sites','/site','/check','/unblock','/thanks')) else ''}}" href="/blocked-sites">Blocked Sites</a>
{{ menu_link("Reported Sites", '/reported-sites') }}
{{ menu_link("Legal Blocks", '/legal-blocks') }}
<br />
{{ menu_link("About", '/about') }}
{{ menu_link("Support" ,'/support') }}
{{ menu_link("Credits" ,'/credits') }}
<a class="" href="https://www.openrightsgroup.org/contact/">Contact</a>

{% endmacro %}
