{% macro show_message(message, truncate=False) %}
{%    set msg = message.get_text_body() %}
{%-   set _state = {'display': True} -%}
{%-   for line in (msg|stripstyletag).splitlines() %}
{%-     if truncate %}
{%-       set display = _state.display -%}
{%-       if '____________________' in line %}{% set display=False %}{% endif -%}
{%-       if line.startswith('Website blocking enquiry') %}{% set display=False %}{% endif -%}
{%-       if line.startswith('-----Original Message') %}{% set display=False %}{% endif -%}
{%-       if line.startswith('NOTICE AND DISCLAIMER') %}{% set display=False %}{% endif -%}
{%-       if line.startswith('BT is a founding') %}{% set display=False %}{% endif -%}
{%-       if line.startswith('On ') %}{% set display=False %}{% endif -%}
{%-       if line.startswith('wrote:') %}{% set display=False %}{% endif -%}
{%-       set _ = _state.update({'display': display}) -%}
{%-     endif -%}
{%-     if _state.display -%}
{{        line|striptags }}
{%      endif %}
{%-   endfor %}

{%- endmacro %}

