
{% macro text_field(label, name, value='', placeholder='') %}
<div class="form-group">
    <label for="{{name}}">{{label}}</label>
    <input class="form-control" name="{{name}}" value="{{value}}" placehholder="{{placeholder}}"/>
</div>
{% endmacro %}

{% macro password_field(label, name, value='', placeholder='') %}
<div class="form-group">
    <label for="{{name}}">{{label}}</label>
    <input class="form-control" type="password" name="{{name}}" value="{{value}}" placehholder="{{placeholder}}"/>
</div>
{% endmacro %}

{% macro submit(text) %}
<input type="submit" value="{{text}}" class="btn btn-primary" />
{% endmacro %}

{% macro permalink(url) %}
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <input class="form-control" type="text" id="permalink" name="permalink" value="{{ url }}">
            <span class="input-group-btn">
              <button title="Copy this permalink to the clipboard" id="copybtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-copy"></span></button>
            </span>
          </div>
        </div>
      </div>
    </form>
{% endmacro %}

{% macro permalink_js() %}
    $('#copybtn').click(function(){
      $('#permalink').select();
      document.execCommand('copy');

    });
{% endmacro %}
