
{% macro hint_para(hint) %}
    {% if hint %}
    <p class="bg-info hint" style="padding: 8px">
      <span class="glyphicon glyphicon-info-sign"></span>
      {{ hint }}
    </p>
    {% endif %}
{% endmacro %}

{% macro text_field(label, name, value='', placeholder='', hint=None) %}
<div class="form-group">
    <label class="control-label" for="{{name}}">{{label}}</label>
    <input class="form-control" name="{{name}}" value="{{value or ''}}" placeholder="{{placeholder}}"/>
    {{ hint_para(hint) }}
</div>
{% endmacro %}

{% macro static_field(label, id, value='', placeholder='') %}
<div class="form-group">
    <label class="control-label" >{{label}}:</label>
    <p class="form-control-static" id="{{id}}">{{ value or '' }}</p>
</div>
{% endmacro %}

{% macro textarea_field(label, name, value='', rows=None) %}
<div class="form-group">
    <label class="control-label" for="{{name}}">{{label}}</label>
    <textarea class="form-control" name="{{name}}" {% if rows %}rows="{{rows}}"{%endif%}>{{value or ''}}</textarea>
</div>
{% endmacro %}

{% macro select_field(label, name, value=None, options=[]) %}
<div class="form-group">
    <label class="control-label" for="{{name}}">{{label}}</label>
    <select class="form-control" name="{{ name}}">
        {% for opt in options %}
        {% if opt is string %}
        <option value="{{opt}}" {{'selected' if opt == value else ''}}>{{opt}}</option>
        {% else %}
        <option value="{{opt[0]}}" {{'selected' if opt[0] == value else ''}}>{{opt[1]}}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro check_field(label, name, value, checked=False) %}
<div class="form-group">
<div class="checkbox">
  <label class="control-label">
    <input type="checkbox" value="{{value}}" name="{{name}}" {{ 'checked' if checked else '' }} />
    {{ label }}
  </label>
</div>
</div>
{% endmacro %}

{% macro radio_field(label, name, value, checked=False) %}
<div class="form-group">
<div class="checkbox">
  <label class="control-label">
    <input type="radio" value="{{value}}" name="{{name}}" {{ 'checked' if checked else '' }} />
    {{ label }}
  </label>
</div>
</div>
{% endmacro %}

{% macro password_field(label, name, value='', placeholder='') %}
<div class="form-group">
    <label class="control-label" for="{{name}}">{{label}}</label>
    <input class="form-control" type="password" name="{{name}}" value="{{value}}" placehholder="{{placeholder}}"/>
</div>
{% endmacro %}

{% macro submit(text) %}
<input type="submit" value="{{text}}" class="btn btn-primary" />
{% endmacro %}

{% macro permalink(url) %}
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <input class="form-control" type="text" id="permalink" name="permalink" value="{{ url }}">
            <span class="input-group-btn">
              <button title="Copy this permalink to the clipboard" id="copybtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-copy"></span></button>
            </span>
          </div>
        </div>
      </div>
    </form>
{% endmacro %}

{% macro permalink_js() %}
    $('#copybtn').click(function(){
      $('#permalink').select();
      document.execCommand('copy');

    });
{% endmacro %}
