{% extends "BasicPage.page.html" %}

{% macro status_names(status) %}
{{ config.STATUS_NAMES.get(status, status) }}
{% endmacro %}

{% if not thanks %}
{%set pagetitle = domain %}
{%set pagerole = "Site blocking report" %}
{% else %}
{%set pagetitle = "Thank you!" %}
{% endif %}

{%block banner_text%}
{% if thanks %}
{{ g.remote_chunks.unblockThanks | safe }}
{% endif %}
{%endblock%}

{% block urllink %}
{% if not thanks %}
{{ super() }}
{% endif %}
{% endblock %}

{%block page_menu%}
{% if not thanks %}
  <div><a href="{{ url_for('.blocked_sites') }}">Browse more blocked sites</a></div>
  <div><a href="{{ url_for('.check',mode='live')}}">Check if a site is being blocked</a></div>
{% endif %}
{% endblock %}

{% block page_script %}
  $(document).ready(function(){
{% if activecount > 0 and not live %}
    $('#pastblock').hide();
    $('#allresults').hide();

    $('#showpast').click(function() {
      $('#pastblock').slideDown();
      return false;
    });
    $('#showallresults').click(function(){
      $('#pastblock').slideDown();
      $('#allresults').slideDown();
      return false;
    });
{% endif %}
{% if live %}
    $('#unblockbtn').addClass('btn-disabled');
    $('#unblockbtn').attr('disabled','disabled');
    StreamResults('{{url}}');
{% endif %}
    $('#copybtn').click(function(){
      $('#permalink').select();
      document.execCommand('copy');

    });
  });
{% endblock %}

{% block page_js_libs %}
{% if live %}
<script src="/static/stream.js?c=6" type="application/javascript"></script>
{% endif %}
{% endblock %}

{%macro results_table(id, results, show_lastblocked=True, show_category=False, show_status=False) %}
<table id="{{ id }}" class="table results-table">
<tr>
  <th>ISP</th>
  <th>Last Checked</th>
  {% if show_category %}
    <th>Category</th>
  {% elif show_lastblocked %}
    <th>Last Blocked</th>
  {% elif show_status %}
    <th>Status</th>
  {% else %}
    <th></th>
  {% endif %}
</tr>
{% for item in results %}
<tr id="net_{{item.network_name|replace(' ','')}}" class="{{ 'error' if show_status and item.status in ('error','dnserror','sslerror') else ''}}">
  <td>{{item.network_name}}</td>
  <td>{{item.status_timestamp|fmtime}}</td>
  {% if show_category %}
    <td>{{item.category}}</td>
  {% elif show_lastblocked %}
    <td>{{(item.last_blocked_timestamp|fmtime) or ''}}</td>
  {% elif show_status %}
    <td>{{ status_names(item.status) }}</td>
  {% endif %}
</tr>
{% endfor %}
</table>

{%endmacro%}


{%block body %}
{% if thanks %}
<h2>Unblock another site</h2>
<h3>{{ domain }}</h3>
{% endif %}
{% if live %}
<h3>Active blocks</h3>
{% else %}
<h3>{{activecount if activecount > 0 else 'No'}} active block{{ '' if activecount == 1 else 's' }}</h3>
{% endif %}

{{results_table('active', results_blocked, show_category=True) }}


<div class="showmore">
{% if pastcount > 0 %}
  <a href="#" id="showpast">View past blocks for this site</a>
{% endif %}
{% if activecount > 0 %}
  <a href="#" id="showallresults">Show all results</a>
{% endif %}
</div>

{% if pastcount > 0 or live %}
<div id="pastblock">
{% if live %}
<h3>Past blocks</h3>
{% else %}
<h3>{{pastcount if pastcount > 0 else 'No'}} past block{{ '' if pastcount == 1 else 's' }}</h3>
{% endif %}

{{ results_table('past', results_past) }}

</div>
{% endif %}

<div id="allresults">
<h3>All results</h3>

{{ results_table('all', results_all, show_lastblocked = False, show_status=True) }}
</div>

<div> <!-- actions -->
{% if can_unblock == true or live %}
<a id="unblockbtn" href="{{ url_for('unblock.unblock', url=url) }}" class="btn btn-primary">Request unblock</a>
{% elif can_unblock == false %}
<a class="btn btn-primary btn-disabled" disabled rel="nofollow">Unblock Requested</a>
{% endif %}

<a href="{{url}}" target="_blank" class="btn btn-primary">Visit site</a>
</div>

<div class="row">

  <div class="col-md-6">
    <h4>Tell us about this site</h4>
    <p>For example: is the link dead, or is the domain being squatted?
      <div><a href="{{ url_for('unblock.feedback', url=url) }}">Please let us know</a></div>
    </p>
  </div>

  <div class="col-md-6">
    <h4>Link to this result</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <input class="form-control" type="text" id="permalink" name="permalink" value="{{ config.SITE_URL }}{{  url_for('.site', url=url)  }}">
            <span class="input-group-btn">
              <button title="Copy this permalink to the clipboard" id="copybtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-copy"></span></button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>

</div> <!-- /.row -->

<div class="row shaded-row">
{{chunks.contactChunk() }}
</div>

{% endblock %}

