{% extends "BasicPage.page.html" %}
{% import "results.part.html" as results %}
{%import "remotecontent.part.html" as rmt %}

{%set pagetitle = "Websites being blocked by UK Internet Service Providers" %}


{%block banner_text %}
{% call rmt.remote('banner_text') %}
A great many websites are being blocked mistakenly as a result of government imposed filters used by Internet Service Providers.  We need your help to check and unblock these websites.  This is something anyone with a web browser can assist with.
{% endcall %}
{% endblock %}

{% block body %}
<!-- template BasicPage -->
<div class="row">
<div class="col-md-6">

<form class="form category-form" action="{{ url_for('.sites_search_post', _method='POST') }}" method="POST">
<div class="form-group">
  <label for="search">Enter search keywords</label>
  <div class="control-group">
    <div class="input-group">

    <input class="form-control" type="text" name="search" value="{{ search or '' }}" />
    <span class="input-group-btn">
        <input type="submit" value="Search" class="btn btn-primary" />
    </span>
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="exclude_adult" value="1" {{ 'checked="1"' if request.args.exclude_adult|default('1') != '0' else '' }} /> Exclude likely pornographic &amp; adult services sites
    </label>
  </div>
</div>
</form>

</div>
<div class="pagemenu col-md-4 col-md-offset-2">

<div><a href="{{ url_for('.check', mode='live') }}">Check a specific website</a></div>
<div><a href="{{ url_for('.random_category') }}">Browse a random category</a></div>
<div><a href="{{ url_for('category.sites_search') }}">Search sites by keyword</a></div>

</div>
</div> <!-- /.row -->

{% if data %}
<div class="row sitelistrow">
<div class="col-md-9">

<div id="categoryname">Blocked sites with keywords: "{{ search }}"</div>
<div id="blockcount">{{ data.count }} blocked sites</div>

</div>
<div class="col-md-3" style="text-align: right">
    {% if g.admin %}
    <div class="dropdown">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Save list<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li style="padding: 1em">
                <form action="/list" method="POST">
                    <legend>Create a list of sites for later review</legend>
                    <input type="hidden" name="search" value="{{ search }}" />
                    <input type="hidden" name="exclude_adult" value="{{ request.args.exclude_adult|default('0') }}" />
                    <div class="form-group">
                        <label for="title">List title:</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label for="title">Your name:</label>
                        <input type="text" class="form-control" name="username" />
                    </div>
                    <input id="createlistbtn" type="submit" value="Save list" class="btn btn-primary" />
                    <p>Creating a list can take a little while.  Please be patient!</p>
                </form>
            </li>
        </ul>
    </div>
    {% endif %}

</div><!-- /.col -->
</div> <!-- /.row -->

<div class="row sitelistrow">
<div class="col-md-12">

{{ results.results_table(data) }}

{{ results.paging('.sites_search', page=page, pagesize=20, count=data.count, search=search, exclude_adult=request.args.exclude_adult|default('0')) }}




</div>
</div> <!-- /.sitelistrow -->
{% endif %}
{% endblock %}

