{% extends "BasicPage.page.html" %}

{%set pagetitle = domain %}
{%set pagerole = "Site blocking report" %}

{%block banner_text%}
{%endblock%}

{%block page_menu%}
  <div><a href="{{ url_for('.blocked_sites') }}">Browse more blocked sites</a></div>
  <div><a href="{{ url_for('.check') }}">Check if a site is being blocked</a></div>
{% endblock %}

{% block page_script %}
  $(document).ready(function(){
{% if activecount > 0 %}
    $('#pastblock').hide();
    $('#allresults').hide();

    $('#showpast').click(function() {
      $('#pastblock').slideDown();
      return false;
    });
    $('#showallresults').click(function(){
      $('#pastblock').slideDown();
      $('#allresults').slideDown();
      return false;
    });
  });
{% endif %}
{% endblock %}

{%macro results_table(id, results, show_lastblocked=True, show_category=False) %}
<table id="{{ id }}" class="table results-table">
<tr>
  <th>ISP</th>
  <th>Last Checked</th>
  {% if show_category %}
    <th>Category</th>
  {% else %}
    {% if show_lastblocked %}
    <th>Last Blocked</th>
    {% else %}
    <th></th>
    {% endif %}
    
  {% endif %}
</tr>
{% for item in results %}
<tr>
  <td>{{item.network_name}}</td>
  <td>{{item.status_timestamp|fmtime}}</td>
  {% if show_category %}
    <td>{{item.category}}</td>
  {% else %}
    <td>{{show_lastblocked and (item.last_blocked_timestamp|fmtime) or ''}}</td>
  {% endif %}
</tr>
{% endfor %}
</table>

{%endmacro%}


{%block body %}
<h3><span id="activecount">{{activecount if activecount > 0 else 'No'}}</span> active block
<span id="activecountplural">{{ '' if activecount == 1 else 's' }}</span></h3>

{{results_table('active', results_blocked, show_category=True) }}


<div class="showmore">
{% if pastcount > 0 %}
  <a href="#" id="showpast">View past blocks for this site</a>
{% endif %}
  <a href="#" id="showallresults">Show all results</a>
</div>

{% if pastcount > 0 %}
<div id="pastblock">
<h3><span id="pastcount">{{pastcount if pastcount > 0 else 'No'}}</span> past block
<span id="pastcountplural">{{ '' if pastcount == 1 else 's' }}</span></h3>

{{ results_table('past', results_past) }}

</div>
{% endif %}

<div id="allresults">
<h3>All results</h3>

{{ results_table('all', results_all, False) }}
</div>

<div> <!-- actions -->
{% if can_unblock == true %}
<a href="{{ url_for('unblock.unblock', url=url) }}" class="btn btn-primary">Request unblock</a>
{% elif can_unblock == false %}
<a class="btn btn-primary btn-disabled" disabled rel="nofollow">Unblock Requested</a>
{% endif %}

<a href="{{url}}" target="_blank" class="btn btn-primary">Visit site</a>
</div>

<div class="row">
<div class="col-md-4">
<h4>Tell us about this site</h4>
<p>For example: is the link dead, or is the domain being squatted?
<a href="{{ url_for('unblock.feedback', url=url) }}">Please let us know</a>
</p>
</div>
</div>


<div class="row shaded-row">
{{chunks.contactChunk() }}
</div>

{% endblock %}
