{% extends "BasicPage.page.html" %}

{%set pagetitle = domain %}
{%set pagerole = "Request a site be unblocked" %}

{%block banner_text%}
{%endblock%}

{%block body %}
<div class="row">
<div class="col-md-12">

<form action="/submit-unblock" class="form" id="unblockform" method="POST">
<input type="hidden" name="url" value="{{data.url}}" />
<input type="hidden" name="name" value="{{data.name}}" />
<input type="hidden" name="email" value="{{data.email}}" />
<input type="hidden" name="report_type" value="unblock" />

{% for block in blocks %}
{% if loop.first %}
<h2>Site blocked on:</h2>
<table id="active" class="table results-table">
<tr>
  <th>Network</th>
  <th>Last Blocked</th>
  <th>Last Reported</th>
</tr>
{% endif %}
<tr class="{{ 'disabled' if block.last_blocked_timestamp < cutoff_time or block.last_report_timestamp != None else ''}}">
  <td>{{ block.network_name }}</td>
  <td>{{ block.last_blocked_timestamp | fmtime }}</td>
  <td>{{ block.last_report_timestamp | fmtime }}</td>
</tr>
{% if loop.last %}
</table>
{% endif %}
{% else %}
<p>All of the recorded blocks for this site are too old or have already been reported.</p>
{% endfor %}
{% if valid_blocks == 0 %}
  {% if request.method == 'POST' %}
    <p>The recorded blocks are too old for unblocking to be requested.  Please re-check the site.</p>
  {% else %}
    <div>Unfortunately, we have not been able to re-check this site.  Please try again later.</div>
    <div>In the meantime, you can:
      <ul>
        <li><a href="{{ url_for('category.check')}}">Check another site</a></li>
        <li><a href="{{ url_for('category.random')}}">Check a random site</a></li>
        <li><a href="{{ url_for('category.sites_search')}}">Search for sites by keyword</a></li>
        <li><a href="{{ url_for('category.blocked_sites')}}">Search for sites by category</a></li>
      </ul>
    </div>
  {% endif %}
{% endif %}
{% if not (valid_blocks == 0 and request.method == 'GET') %}
<div style="text-align: right">
<a class="btn btn-default" id="recheck">Re-check site</a>
</div>
{% endif %}

{% if valid_blocks > 0 %}
<h2>About the site</h2>
<div class="form-group">
  <label for="message">Please explain why this site should be unblocked</label>
  <div class="control-group">
    <textarea  rows="6" type="text" name="message" id="message" class="form-control"></textarea>
  </div>
</div>

<div class="form-group">
<div class="checkbox">
  <label>
    <input type="checkbox" value="1" name="checkedsite"/>
    I confirm that the site is not squatted, abandoned, a redirected URL or 
    unsuitable for under 18s.
  </label>
</div>
</div>

<div class="form-group">
<div class="checkbox">
  <label>
    <input type="checkbox" value="contact" name="contact" />
    Please email me if the site is unblocked
  </label>
</div>
</div>

<div class="form-group">
<input type="submit" class="btn btn-primary" value="Submit unblock request" />
</div>
{% endif %}

</form>

</div>
</div>

{%endblock%}

{% block page_script %}
$(document).ready(function(){
  
  $('#recheck').click(function(){
    $('#recheck').text('Checking...');
    $('#recheck').attr('disabled','disabled'); 
    $.get('/recheck?url={{url}}', function(){
      setTimeout(function(){
        window.location.href='/unblock2?url={{url}}';
      }, 10000);
    })
  })

  $('#unblockform').submit(function(){
    if (!$('input[name=checkedsite]').prop('checked')) {
      alert("Please confirm that you have visited the site and checked its contents");
      $('input[name=checkedsite]').parent().addClass('alert-danger');
      return false;
    }
  })

})
{% endblock %}
