{% extends "BasicPage.page.html" %}

{%set pagetitle = "Thank you." %}

{%block body %}


<div class="row">
<div class="col-md-7">

<p>

{% if u %}
  {% if v == '1' %}
  You will need to validate your email address before your unblocking requests are sent.<br />
  Please check your email and follow the validation link.
  {% else %}
    {% if g.remote_chunks.unblockThanks %}
    {{ g.remote_chunks.unblockThanks | safe }}
    {% else %}
  <!-- builtin -->
  Your unblock request was successfully submitted and 
  will be sent to the appropriate ISPs.
    {% endif %}
  {% endif %}
{% else %}
  Your feedback was successfully submitted.
{% endif %}

</p>

{% if session.route is defined %}
<div><a href="{{ url_for('unblock.browse_next') }}">Unblock another site</a></div>
{% else %}
<div><a href="/blocked-sites">Unblock another site</a></div>
{% endif %}
<div><a href="/random">Unblock a random site</a></div>
</div>
</div>

{# chunks.contactForm('shaded-row') #}

{% endblock %}
