{% extends "BasicPage.page.html" %}
{% import "paging.part.html" as paging %}
{% import "remotecontent.part.html" as rmt %}

{%set pagetitle = g.remote_content.title|default("Legal blocks - Court orders") %}

{% block page_menu %}

<div><a href="{{ url_for('.legal_blocks') }}">All legal blocks</a></div>
<div><a href="{{ url_for('.legal_errors') }}">Legal block errors</a></div>
<div style="margin-top: 1em"><a href="{{ url_for('.export_blocks', region=region) }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-save"></span> Export</a></div>

{% endblock %}

{% block banner_text %}
{% call rmt.remote('banner_text') %}
{% endcall %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
    
    <table class="table">
    <tr>
    <th style="width: 50%">Judgment/Citation</th>
    <th>Date</th>
    <th class="num">Services Targeted</th>
    <th class="num">Blocks Detected</th>
    <th class="num">Errors Detected</th>
    </tr>
    {% for judgment in judgments %}
    <tr>
        <td>
            <div><a href="{{url_for('.legal_order_sites', id=judgment.id)}}">{{judgment.name}}</a></div>
            <div><em>{{judgment.citation|null}}</em></div>
        </td>
        <td>{{judgment.date|fmdate}}</td>
        <td class="num">{{judgment.services_targeted or '-'}}</td>
        <td class="num">{{judgment.block_count}}</td>
        <td class="num">{{judgment.errors_detected}}</td>
    </tr>
    
    {% endfor %}
    </table>
    
    </div>
</div>
{% endblock %}

