{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Rightsholder Admin" %}

{% block body %}
<div class="row">
    <div class="col-md-12">

        <h1>{{ pagetitle }}</h1>
        <h2>{{ rh.name }}</h2>

        {% for f in rh.FIELDS %}
        <div><span>{{ f.title() }}: </span>{{ rh[f] }}</div>
        {% endfor %}
        <div>
            <a href="{{ url_for('.admin_rh_edit', id=rh.id) }}" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Related Court Judgments</h3>
    <table class="table table-condensed">
        {% for jdg in judgments %}
        <tr>
            <a><a href="{{ url_for('admin.courtorders_view', id=jdg.id) }}">{{ jdg.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>

{% endblock %}