{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Rightsholder Admin" %}

{% block body %}
<div class="row">
    <div class="col-md-6">

        <h1>{{pagetitle}}</h1>
        <h2>Court Order Rightsholders</h2>
        <div>
            <a href="{{url_for('.admin_rh_edit')}}" class="btn btn-primary">Add</a>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            {% for rh in rightsholders %}
            <tr>
                <td>
                    <a href="{{url_for('.admin_rh_view', id=rh.id)}}">{{rh.name}}</a>
                    <div>{{ rh.sites_description|null|safe }}</div>
                </td>
                <td>
                    <a href="{{ url_for('.admin_rh_edit', id=rh.id)}}" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a href="{{ url_for('.admin_rh_delete', id=rh.id)}}" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

