{% extends "BasicPage.page.html" %}

{% set pagetitle = "Saved Lists" %}

{% block banner_text %}
{% if g.remote_content.banner_text %}
{{ g.remote_content.banner_text|safe }}
{% else %}

Blocked sites listed by topic.  These lists have been compiled by ORG staff and volunteers.

{% endif %}
    {% if g.admin %}
    <div style="">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-filter"></span>
            Filter by ISP
            {%- if network %} ({{ network }} {{ 'excluded' if request.args.exclude else 'only' }}) {%- endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('.show_lists') }}">( all )</a></li>
            {% for isp in config.ISPS|sort %}
            <li>
                <a href="{{ url_for('.show_lists', network=isp) }}">{{ isp }} only</a>
            </li>
            {% if isp == 'BT-Strict' %}
            <li>
                <a href="{{ url_for('.show_lists', network=isp, exclude=1) }}">Exclude {{ isp }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block pagestyle %}

.totalrow {
    background-color: #ededed;
}
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-12">


<table class="table">
<tr>
  <th>Name</th>
  <th class="num">Entry count</th>
  <th class="num">Entries reported</th>
  <th class="num">Entries still blocked</th>
  <th class="num">ISP blocks found</th>
  <th class="num">ISP blocks lifted</th>
  <th class="num">Current ISP blocks</th>
</tr>

{% for lst in lists %}
<tr>
  <td><a name="{{lst.id}}"></a><a href="{{ url_for('list.show_list', name=lst.name) }}">{{ lst.name }}</a> </td>
  <td class="num">{{ lst.item_count }}</td>
  <td class="num">{{ lst.reported_count }}</td>
  <td class="num">{{ lst.item_block_count }}</td>
  
  <td class="num">{{ lst.block_count }}</td>
  <td class="num">{{ lst.unblock_count }}</td>
  <td class="num">{{ lst.active_block_count }}</td>
</tr>

{% endfor %}
<tr class="totalrow">
  <td>Totals:</td>
  <td class="num">{{ totals.item_count }}</td>
  <td class="num">{{ totals.reported_count }}</td>
  <td class="num">{{ totals.item_block_count }}</td>
  
  <td class="num">{{ totals.block_count }}</td>
  <td class="num">{{ totals.unblock_count }}</td>
  <td class="num">{{ totals.active_block_count }}</td>
</tr>
</table>

</div>
</div>

{% endblock %}


