{% extends "BasicPage.page.html" %}
{% import "forms.part.html" as forms %}
{% import "paging.part.html" as paging %}

{%set pagetitle = savedlist.name %}

{%block banner_text %}
<p>Created on {{savedlist.created|fmtime}} by {{savedlist.username}}</p>

<h3>Share this list</h3>
{{ forms.permalink(config.SITE_URL + url_for('.show_list', name=savedlist.name) ) }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">

{#
<form action="{{ url_for('.item_add') }}" method="POST">
    <legend>Add a new site to this list<legend>
    <input type="hidden" name="list_id" value="{{ savedlist.id }}" />
    {{ forms.text_field('URL', 'url') }}
    {{ forms.submit('Add') }}
</form>
#}

    </div>
</div>

<div class="row sitelistrow">
    <div class="col-md-7">

<h3>{{ itemcount }} {{ "entry" if itemcount == 1 else "entries" }}
    {% if request.args.network %}
    <small>{% if request.args.exclude %}excluding{% else %}on{% endif %} {{ request.args.network }}</small>
    {% endif %}
</h3>
{% if request.args.status %}
<p>Showing <strong>{{ request.args.status }}</strong> entries only.</p>
{% endif %}
    </div>
    <div class="col-md-5">

        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-filter"></span>
            Filter by ISP
            {%- if request.args.network %} ({{ 'exc. ' if request.args.exclude|default('') else '' }}{{ request.args.network }}) {%- endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="filter-dropdown">
            <li><a href="{{ url_for('.show_list', **args(network=None) ) }}" rel="nofollow">( all )</a></li>
            {% for isp in config.ISPS|sort %}
            <li><a href="{{ url_for('.show_list', **args(network=isp) ) }}" rel="nofollow">{{ isp }}</a></li>
            {% if isp == 'BT-Strict' %}
            <li><a href="{{ url_for('.show_list', **args(network=isp, exclude=1) ) }}" rel="nofollow">Exclude {{ isp }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        </div>
        
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-filter"></span>
            Filter by TLD
            {%- if request.args.tld %} (.{{ request.args.tld }}) {%- endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="tld-dropdown">
            <li><a href="{{ url_for('.show_list', **args(tld=None) ) }}" rel="nofollow">( all )</a></li>
            {% for domain in ['uk','com','net','org'] %}
            
            <li><a href="{{ url_for('.show_list', **args(tld=domain) ) }}" rel="nofollow">.{{domain}}</a></li>
            {% endfor %}
            
        </ul>
        </div>

        <a href="{{ url_for('.export_list', name=savedlist.name) }}" class="btn btn-default" rel="nofollow"><span class="glyphicon glyphicon-save"></span> Export</a>
        {% if g.admin %}
        <a href="{{ url_for('.recheck_list', name=savedlist.name) }}" class="btn btn-default" id="refresh"><span class="glyphicon glyphicon-refresh"></span> Recheck</a>
        {% endif %}

    </div>
</div>

<div class="row sitelistrow">
  <div class="col-md-12">
Use the <strong>request unblock</strong> tool to start reporting the mistakes listed here.
  </div>
</div>


<div class="row sitelistrow">
    <div class="col-md-12">

<table class="table savedlist">
    <tr>
        <th>URL / Title</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td><a href="{{item.url}}" rel="nofollow" target="_blank" title="Open site in a new window">{{item.url}}</a><br />
            {{item.title|null('(no title)')}} 
        </td>
        <td style="text-align: right">
          {% if item.blocked == False %}
          <span class="label label-success">Unblocked</span>
          {% endif %}
          {% if item.reported %}
          <span class="label label-default">Reported</span>
          {% endif %}
        </td>
        <td class="sitereport">
          <a class="btn" href="{{url_for('site.site', url=item.url)}}">View site report</a>
        </td>
        <td class="sitereport">
            {% if not item.blocked or item.reported %}
            <a class="btn btn-primary disabled" href="">
                {% if item.reported %}
                Unblock requested
                {% else %}
                Request Unblock
                {% endif %}
            </a>
            {% else %}
            <a class="btn btn-primary" rel="nofollow" href="{{url_for('unblock.unblock',url=item.url)}}">Request Unblock</a>
            {% endif %}
        </td>
        <td>

            {% if g.admin %}
            <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="deletebtn" data-id="{{item.id}}" href="{{ url_for('.item_delete', id=item.id) }}">Delete</a></li>
              <li><a class="deleteallbtn" data-id="{{item.id}}" href="{{ url_for('.item_delete', id=item.id) }}">Delete from all lists</a></li>
              <li role="separator" class="dropdown-header">Flag:</li>
            {% for reasoncode, reason in reasons.report_types.items() %}
              <li><a class="flagbtn" data-id="{{ item.id }}" data-reason="{{ reasoncode }}" href="{{ url_for('.item_delete_and_flag', id=item.id, reason=reason) }}">{{ reason }}</a></li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{{ paging.page_list('.show_list',  page, pagecount, pagesize, **args(page=None) ) }}

    </div>
</div>

{% endblock %}

{% block page_script %}

$(document).ready(function(){
    $('.deletebtn').click(function(){
        var deletebtn = this;
        $.post('/list/delete/'+$(this).attr('data-id'), {}, function(data, status, xhr){
            $(deletebtn).parent().parent().children().animate({padding:0}).wrapInner('<div/>').children().slideUp(function(){ $(this).closest('tr').remove()});
        });
        return false;
    });
    $('.deleteallbtn').click(function(){
        var deletebtn = this;
        $.post('/list/delete/'+$(this).attr('data-id'), {'all':1}, function(data, status, xhr){
            $(deletebtn).parent().parent().children().animate({padding:0}).wrapInner('<div/>').children().slideUp(function(){ $(this).closest('tr').remove()});
        });
        return false;
    });    
    $('.flagbtn').click(function(){
        var flagbtn = this;
        $.post('/list/delete_and_flag/'+$(this).attr('data-id'), {'reason': $(this).attr('data-reason')}, function(data, status, xhr){
            $(flagbtn).parent().parent().children().animate({padding:0}).wrapInner('<div/>').children().slideUp(function(){ $(this).closest('tr').remove()});
        });
        return false;
    });
    $('#refresh').click(function(){
        $(this).text('Submitting tests ... please wait');
    });
    {{ forms.permalink_js() }}
});

{% endblock %}
