{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "OSA Admin" %}

{% block pagestyle %}
{% endblock %}

{% set source_options = ['user','operator','detected'] %}
{% set block_type_options = [
    ('geoblock_osa', 'Geoblocking due to OSA'),
    ('geoblock_misc', 'Geoblocking (other reason)'),
    ('shutdown_osa', 'Shutting down due to OSA')
    ] %}
{% set status_options = ['submitted','confirmed'] %}

{% block body %}

<h2>{{ mode|title }} OSA block/shutdown</h2>

<form method="POST" action="{{ url_for('.admin_osa_update', id=case.id) }}">
    <div class="row">
    {% if mode == 'add' %}
    {{ forms.text_field('URL', 'url', url.url, css='col-md-12') }}
    {% else %}
    {{ forms.static_field('URL', 'url', url.url, css='col-md-12') }}
    {% endif %}
    </div>

    <div class="row">
    {{ forms.text_field('Archive URL', 'archive_url', case.archive_url, css='col-md-12') }}
    </div>
    <div class="row">
    {{ forms.textarea_field('Description', 'description', case.description, css='col-md-12') }}
    </div>
    
    <div class="row">
    {# forms.select_field('Status', 'status', case.status, options=status_options, css='col-md-4') #}
    {{ forms.text_field('Shutdown date', 'shutdown_date', case.shutdown_date, css='col-md-4') }}

    {{ forms.select_field('Block type', 'block_type', case.block_type, options=block_type_options, includenull=true,
        css='col-md-4') }}
    {{ forms.select_field('Source', 'source', case.source, options=source_options, css='col-md-4') }}
    </div>
    
    <div class="row">
    {{ forms.submit('Update' if mode == 'edit' else 'Add') }}
    </div>
    
</form>

{% endblock %}
