{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "OSA Case Admin" %}

{% block body %}
<div class="row">
    <div class="col-md-12" style="margin-bottom: 3em">

        <h1>{{pagetitle}}</h1>
        <div class="pull-right">
            <a href="{{url_for('.admin_osa_edit')}}" class="btn btn-primary">Add</a>
        </div>
        <h2>Online safety act shutdowns/blocks</h2>
        
    </div>

</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom: 1em">
    <h4>Filter by status:</h4>
    <ul class="nav nav-pills">
    <li role="presentation" class="{{ 'active' if not filter else '' }}"><a href="{{ url_for('.admin_osa_index') }}">All</a></li>
    <li role="presentation" class="{{ 'active' if filter=='submitted' else ''}}"><a href="{{ url_for('.admin_osa_index', filter='submitted') }}">Submitted</a></li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Site</th>
                <th>Status</th>
                <th></th>
            </tr>
            {% for case in cases %}
            <tr>
                <td>
                    <a href="{{url_for('.admin_osa_view', id=case.id)}}">{{case.title or case.url}}</a>
                    <p style="max-width: 90%"><em><small>{{ case.description|null|safe }}</small></em></p>
                </td>
                <td  style=""><span class="label label-default">{{ case.status }}</span></td>
                <td style="width: 16%;">
                    <a href="{{ url_for('.admin_osa_edit', id=case.id)}}" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a href="{{ url_for('.admin_osa_delete', id=case.id)}}" class="btn btn-danger btn-sm"
                        onclick="return confirm('Delete case?')">
                        <span class="glyphicon glyphicon-trash"></span> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

