{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "OSA Case Admin" %}

{% block body %}
<div class="row">
    <div class="col-md-12" style="margin-bottom: 3em">

        <h1>{{pagetitle}}</h1>
        <div class="pull-right">
            <a href="{{url_for('.admin_osa_edit')}}" class="btn btn-default">Record site shut-down</a>
            <a href="{{url_for('.admin_osa_edit', formtype='at-risk')}}" class="btn btn-default">Record at-risk</a>
        </div>
        <h2>Online safety act shutdowns/blocks</h2>
        
    </div>

</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom: 1em">
    <h4>Filter by status:</h4>
    <ul class="nav nav-pills">
    <li role="presentation" class="{{ 'active' if not filter else '' }}" title="All non-rejected cases"><a href="{{ url_for('.admin_osa_index') }}">All</a></li>
    <li role="presentation" class="{{ 'active' if filter=='submitted' else ''}}" title="All cases awaiting moderation"><a href="{{ url_for('.admin_osa_index', filter='submitted') }}">Submitted</a></li>
    <li role="presentation" class="{{ 'active' if filter=='rejected' else ''}}" title="All rejected cases"><a href="{{ url_for('.admin_osa_index', filter='rejected') }}">Rejected</a></li>
    <li role="presentation" class="{{ 'active' if filter=='at-risk' else ''}}" title="At-risk sites"><a href="{{ url_for('.admin_osa_index', filter='at-risk') }}">At-risk</a></li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Site</th>
                <th>Status</th>
                <th></th>
            </tr>
            {% for case in cases %}
            <tr>
                <td>
                    <div>
                        <a href="{{url_for('.admin_osa_view', id=case.id)}}">{{case.url}}</a>
                        <a href="{{ case.url }}" rel="nofollow" target="_blank"><span class="glyphicon glyphicon-share" title="open {{ case.url }} in a new window" /></a>
                    </div>
                    {% if case.title %}
                    <div><small>{{ case.title|null }}</small></div>
                    {% endif %}
                    <p style="max-width: 90%"><em><small>{{ case.description|null|safe }}</small></em></p>
                </td>
                <td  style=""><span class="label label-default">{{ case.status }}</span></td>
                <td style="width: 20%;">
                    <a href="{{ url_for('.admin_osa_view', id=case.id)}}" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-search"></span> View</a>
                    <a href="{{ url_for('.admin_osa_edit', id=case.id)}}" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit</a>
                    {% if case.status == 'submitted' %}
                    <a href="{{ url_for('.admin_osa_reject', id=case.id)}}" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span> Reject</a>
                    {% endif %}
                      {% if case.status == 'rejected' %}
                    <a href="{{ url_for('.admin_osa_reject', id=case.id, action='remove')}}" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-triangle-top"></span> Recover</a>
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

