{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}
{% import "osa/osa_common.part.html" as osa_common %}

{% set pagetitle = "OSA Admin" %}

{% block pagestyle %}
{% endblock %}


{% block body %}

<h2>{{ mode|title }} OSA 
    {% if formtype == 'at-risk' or case.status == 'at-risk' %}
    site at-risk
    {% else %}
    block/shutdown
    {% endif %}
</h2>

<form method="POST" action="{{ url_for('.admin_osa_update', id=case.id) }}">
    <div class="row">
    {{ forms.text_field('URL', 'url', url.url, css='col-md-12') }}
    {% if errmsg %}
    <p class="alert alert-danger">{{ url.url }} has already been reported.</p>
    {% endif %}
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ forms.check_field('Hide URL on public site','hide_url', '1', case.hide_url) }}
        </div>
    </div>

    <div class="row">
    {{ forms.textarea_field('Description', 'description', case.description, css='col-md-12') }}
    </div>
    
    {% if formtype == 'at-risk' or case.status == 'at-risk' %}

    <div class="row">
    {{ forms.select_field('Source', 'source', case.source, options=osa_common.source_options, css='col-md-4') }}
    </div>

    {% else  %}{# formtype #}
    
    <div class="row">
    {# forms.select_field('Status', 'status', case.status, options=osa_common.status_options, css='col-md-4') #}
    {{ forms.date_field('Shutdown date', 'shutdown_date', case.shutdown_date, css='col-md-4') }}

    {{ forms.select_field('Block type', 'block_type', case.block_type, options=osa_common.block_type_options, includenull=true,
        css='col-md-4') }}
    {{ forms.select_field('Source', 'source', case.source, options=osa_common.source_options, css='col-md-4') }}
    </div>

    <div class="row">
    
    <div class="col-md-6">
    <h4>Shutdown reasons</h4>
    {% for k,v in osa_common.reasons.items() %}
    {{ forms.check_field(v, 'reasons', k, k in case.reasons) }}
    {% endfor %}
    </div>

    <div class="col-md-6">
    <h4>Functional modifications</h4>
    {% for k,v in osa_common.modifications.items() %}
    {{ forms.check_field(v, 'modifications', k, k in case.modifications) }}
    {% endfor %}
    </div>
    </div>

    {% endif %}{# formtype #}
    
    <div class="row">
        <div class="col-md-12">
        <input type="hidden" name="formtype" value="{{ formtype }}" />
    {{ forms.submit('Update' if mode == 'edit' else 'Add') }}
        </div>
    </div>
    {% if case.id %}
    <div class="row">
    <div class="col-md-12">
    <h3>Reporter comments (not published)</h3>
    <div class="well">
    <p><em>{{ case.comments }}</em></p>
    </div>
    </div>
    </div>
    {% endif %}
    
</form>

{% endblock %}
