{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}
{% import "osa/osa_common.part.html" as osa_common %}

{% set pagetitle = "OSA Block Admin" %}


{% block body %}
<div class="row">
    <div class="col-md-12">

        <h1>{{ pagetitle }}</h1>
        <div class="pull-right">
            <a href="{{ url_for('.admin_osa_edit', id=case.id) }}" class="btn btn-primary">Edit</a>
            <a href="{{ url_for('.admin_osa_delete', id=case.id)}}" class="btn btn-danger"
                        onclick="return confirm('Delete case?')">
                        <span class="glyphicon glyphicon-trash"></span> Delete</a>
        </div>
        <h3>{{ url.title or url.url }}
        {% if url.title %}
        <small><a href="{{ url.url }}" rel="nofollow">{{ url.url }}</a></small>
        {% endif %} 
        </h3>        
        <p>{{ case.description }}</p>

        {% for f in ['block_type','status','shutdown_date'] %}
        <div class="row">
            <div class="col-md-2">{{ forms.field_title(f) }}: </div>
            <div class="col-md-10">
            {% if f == 'block_type' %}
            {{ osa_common.block_type_options[case[f]] }}
            {% elif f == 'shutdown_date' %}
            {{ case[f]|fmdate }}
            {% else %}
            {{ case[f]|null }}
            {% endif %}
            </div>
        </div>
        {% endfor %}
        {% if case.reasons|length %}
        <div class="row">
            <div class="col-md-2">Shutdown reasons: </div>
            <div class="col-md-10">
            <ul>
            {% for m in case.reasons %}
              <li>{{ osa_common.reasons[m] }}</li>
            {% endfor %}
            </ul>
            </div>
        </div>
        {% endif %}
        {% if case.modifications|length %}
        <div class="row">
            <div class="col-md-2">Site modifications: </div>
            <div class="col-md-10">
            <ul>
            {% for m in case.modifications %}
              <li>{{ osa_common.modifications[m] }}</li>
            {% endfor %}
            </ul>
            </div>
        </div>
        {% endif %}
        {% if case.comments %}
        <h4>Reporter comments</h4>
        <div class="well col-md-6">
        <i>{{ case.comments }}</i>
        </div>
        {% endif %}
    </div>
</div>

<div class="well" style="margin-top: 3em">
<div class="row">
  <div class="col-md-6">
<h2>Verification
{% if case.status == 'confirmed' %}
<i class="glyphicon glyphicon-ok-circle"></i>
{% endif %}
</h2>
    
{% if case.status == 'submitted' %}
<form action="{{ url_for('.admin_osa_verify') }}" method="POST">
<input type="hidden" name="id" value="{{ case.id }}" />
{{ forms.text_field('Shutdown announcement archive URL', 'archive_url', case.archive_url, css='col-md-12', input_customize=input_snapshot) }}
<p id="wayback_status"></p>
{{ forms.submit('Record confirmation') }}
</form>
{% else %}
{{ forms.static_field('Verified by', 'reviewed_userid', reviewer.username) }}
{{ forms.static_field('Verified on', 'reviewed_timestamp', case.reviewed_timestamp|fmtime) }}
{{ forms.static_field('Shutdown announcement', 'archive_url', case.archive_url) }}

<form action="{{ url_for('.admin_osa_verify') }}" method="POST">
<input type="hidden" name="id" value="{{ case.id }}" />
<input type="hidden" name="action" value="remove" />
{{ forms.submit('Revert confirmation') }}
</form>

{% endif %}

  </div>
  <div class="col-md-6">
    {% if case.status == 'submitted' %}
    <h4>Adding verification information</h4>
    <p>Add the URL of a page announcing the shutdown/feature restriction, and optionally use the snapshot button
    to archive the page on the Wayback Machine.  The Wayback Machine has quite strict rate limits, so archival may not 
    be possible straight away.</p>
  {% endif %}
  </div>
</div> <!-- /.row -->

</div> <!-- /.well  -->


{% if case.status in ('confirmed','relaunched') %}
<div class="well" style="margin-top: 3em">
<div class="row">
  <div class="col-md-6">
      <h2>Relaunch</h2>
      {% if case.status == 'confirmed' %}
<form action="{{ url_for('.admin_osa_relaunch', id=case.id) }}" method="POST">

{{ forms.text_field('Relaunch announcement archive URL', 'relaunch_url', case.relaunch_url, css='col-md-12', input_customize=input_snapshot) }}
{{ forms.date_field('Relaunch date', 'relaunch_date', case.relaunch_date, css='col-md-12') }}

{{ forms.submit('Record relaunch') }}
</form>
      {% elif case.status == 'relaunched' %}
{{ forms.static_field('Relaunch announcement archive URL', 'relaunch_url', case.relaunch_url, css='col-md-12') }}
{{ forms.static_field('Relaunch date', 'relaunch_date', case.relaunch_date|fmdate, css='col-md-12') }}

      {% endif %}
  </div>
</div>
</div> <!-- /.well -->
{% endif %}

{% endblock %}

{% macro input_snapshot() %}
    <span class="input-group-btn">
        <button class="snapshot btn btn-default" type="button" title="Convert to wayback machine snapshot"><i class="glyphicon glyphicon-camera"></i></button>
    </span>
{% endmacro %}

{% block page_script %}

function rset_snapshot(ok) {
    $('.snapshot i').removeClass('glyphicon-hourglass')
    if (ok) {
        $('.snapshot i').addClass('glyphicon-ok')
    } else {
        $('.snapshot i').addClass('glyphicon-warning-sign')
    }
}

$(document).ready(function(){
    $('.snapshot').click(function(){
        $(this).find('i').removeClass('glyphicon-camera').addClass('glyphicon-hourglass')
        urlfield = $(this).parent().parent().find('input')

        $.post('{{ url_for('.admin_osa_snapshot') }}',
               {'url': urlfield.val()}
               ).done(function(data, status, xhr){
                    urlfield.val(data.archive_url)   
                    rset_snapshot(true)
               }).fail(function(xhr, status, err){
                    $('#wayback_status').text("Error: " + xhr.getResponseHeader('X-Error'))
                    rset_snapshot(false)
               })
    })
})
    

{% endblock %}
