{% extends "layout_1x3.page.html" %}
{% import "paging.part.html" as paging %}
{% from "network_description.part.html" import isp_info, popover_js %}
{% import "emails.part.html" as emails %}
{% import "results.part.html" as results %}



{%set pagetitle = "View BBFC Report" %}

{% block col1_row1 %}
{{ g.remote_content.TextAreaOne|safe }}
{%endblock%}

{% block col1_row2 %}
{{ g.remote_content.TextAreaTwo|safe }}
{%endblock%}

{% block col1_row3 %}
{{ g.remote_content.TextAreaThree|safe }}
{%endblock%}

{% block page_menu %}
<div><a href="{{ url_for('.reported_sites_bbfc') }}">Sites reported for BBFC adjudication</a></div>
{% endblock %}

{% block bodyrow2 %}
<h3>Request submitted to BBFC</h3>
<div class="submitted-timestamp">Submitted: {{ report.created|fmtime }}</div>
<p class="well message">
    {{ report.message }}
</p>

<h3>BBFC response</h3>
{% for emailobj, message in messages %}
<div>Received: {{ emailobj.created|fmtime }}</div>
<pre>
    {{ emails.show_message(emailobj.get_text_body(message), truncate=True) }}
</pre>
{% endfor %}

<h3>Current status</h3>

{{ results.results_table('allresults', results_all|selectattr('isp_type', 'equalto', 'mobile')|sort(attribute='status_timestamp')|reverse, results.headings_status, results.itemrow_status) }}

<div style="margin-bottom: 1em"><a href="{{ url_for('site.site', url=url) }}">View full results</a></div>

{% endblock %}

{% block page_style %}
.submitted-timestamp {
}
.received-timestamp {
}
.message {
    background-color: #f5f5f5;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
}
{% endblock %}