{% extends "BasicPage.page.html" %}
{%import "remotecontent.part.html" as rmt %}

{%set pagetitle = g.remote_content.title | default("Take action against web censorship") %}
{% set title_width = 12 %}
{% set menu_block = false %}
{% set banner_text_block = false %}

{%block banner_text%}
{%endblock%}

{%block page_menu%}
{#
  <div><a href="{{ url_for('site.check') }}/live">Check if a site is being blocked</a></div>
  <div><a href="{{ url_for('category.blocked_sites') }}">Browse blocked sites by category</a></div>
  <div><a href="{{ url_for('category.sites_search') }}">Search sites by keyword</a></div>
  <div><a href="{{ url_for('site.check') }}">Get a site unblocked</a></div>
  <div><a href="{{ url_for('category.random') }}">Take action: Report sites</a></div>
#}
{% endblock %}

{%block body %}

<div class="row">
<div class="col-md-12 well">

    <div class="row">
        <div class="col-md-5">

<h3>Unblock your website</h3>
<form action="{{ url_for('site.check_post') }}" method="POST">
<input type="hidden" name="submit" value="{{live | lower }}" />

<div class="form-group">
  <label for="url" class="sr-only">Website address</label>
  <div class="control-group">
    <div class="input-group">
    <input type="text"  placeholder="http://" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="url" id="url" class="form-control" />
    <span class="input-group-btn">
    <input type="submit" value="Check site" class="btn btn-primary" />
    </span>
    </div>
  </div>
</div>

</form>
<p>Blocked will check if a site is being blocked by instantly running tests on
major fixed line ISPs and mobile networks.  Based on the results, you can submit a request
to the ISPs to have the site reclassified and removed from their block lists.</p>



  <div>
  {% if config.MODULE_CATEGORY %}
  <h3>More ways to check blocked sites</h3>
  <div><a href="{{ url_for('category.blocked_sites') }}">Browse blocked sites by category</a></div>
  <div><a href="{{ url_for('category.sites_search') }}">Search blocked sites by keyword</a></div>

  {% endif %}

  {# unblock this site #}

{% if config.MODULE_UNBLOCK %}
<h3>Help unblock this website</h3>
<p>Has this site been blocked incorrectly?</p>
<div style="min-height: 3em; background-color: #fafafa; margin: 4px">
<div id="siteinfo" class="site" >
  <div  class="randomurl"><a id="sitelink" href="{{site.url}}" target="_blank" rel="nofollow">{{site.url|domain}}</a></div>
  <p id="sitetitle">{{site.title|null('(no title)')}}</p>
</div>
</div>

{% if False %}
  <div style="padding-bottom: 1em">
    <strong>{{blockednetworks|join_en }}</strong> {% if blockednetworks|length == 1 %}is{% else %}are{% endif %} blocking this site for customers using filters.
  </div>
{% endif %}


  <div class="buttonlist btn-group btn-group-justified" style="margin-top: 0.5em">
    <a href="{{url_for('unblock.unblock', url=site.url)}}" id="unblock" rel="nofollow" class="btn  btn-primary">Report this site</a>
    <a href="{{url_for('unblock.browse_next',after=site.url) }}" id="tryanother" class="btn btn-default">See another site</a>
  </div> <!-- /.buttonlist -->

  {% endif %}

  {# end unblock #}
  

  </div>

  </div> <!-- /.col -->

  <div class="col-md-6 col-md-offset-1 frontpage-text" style="font-family: Roboto, sans-serif; font-size: 16pt">
{% call rmt.remote('banner_text') %}
  <p>The UK government has pressured Internet Service Providers (ISPs) into promoting filters to prevent children and young people from seeing internet content that is supposed to be for over 18s.  This may seem like a good idea, but in reality filters block much more than they are supposed to, which means information is being censored.</p>
  
  <p>It is very possible sites you care about are being restricted.  The Blocked project is here to help prevent this from happening.  <a href="#">Read more.</a></p>
{% endcall %}
  </div>
    </div> <!-- /.row -->

    </div> <!-- /.col -->
</div><!-- /.row -->

<!-- template BasicPage -->

<div class="row" style="padding-bottom: 0px">
  <div class="col-md-12 stats hidden-sm">
      <h3>Blocked - in numbers</h3>
    <div class="row" style="padding-bottom: 0px; margin-bottom: 0px">

    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.urls_tested) }}</span> sites tested</div>
    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.blocked_sites_detected_total) }}</span> blocked sites detected</div>
    <div class="col-lg-2 col-md-4"><span>{{ "%0.02f%%"|format(100*stats.blocked_sites_detected_default_filter/stats.blocked_sites_sample_size) }}</span> of Alexa top 100,000 sites blocked on default filter settings</div>
    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.isp_reports_made) }}</span> reports sent by our users</div>
    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.isp_reports_unblocked) }}</span> blocks removed by our users</div>
    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.suspected_errors) }}</span> suspected mistakes identified by search</div>
    </div>
  </div>

</div>


<div class="row">
{{chunks.contactChunk() }}
</div>

{%endblock%}

{% block page_script %}

$(document).ready(function(){
    $('#tryanother').click(function(){
        $('#siteinfo').fadeOut(400, function() {
            $.get('{{ url_for('unblock.browse_next_js') }}', function(data, status, xhr) {
                $('#sitelink').attr('href', data.url);
                $('#sitelink').text(data.url);
                $('#sitetitle').text(data.title || '(no title)');

                $('#unblock').attr('href', '{{ url_for('unblock.unblock', url='') }}' + escape(data.url));
                $('#siteinfo').fadeIn();

            });
        });
        return false;
    });

});

{% endblock %}

