{% extends "BasicPage.page.html" %}
{%import "remotecontent.part.html" as rmt %}

{%set pagetitle = g.remote_content.title | default("Take action against web censorship") %}
{% set title_width = 12 %}
{% set menu_block = false %}
{% set banner_text_block = false %}

{%block banner_text%}
{%endblock%}

{%block page_menu%}
{#
  <div><a href="{{ url_for('site.check') }}/live">Check if a site is being blocked</a></div>
  <div><a href="{{ url_for('category.blocked_sites') }}">Browse blocked sites by category</a></div>
  <div><a href="{{ url_for('category.sites_search') }}">Search sites by keyword</a></div>
  <div><a href="{{ url_for('site.check') }}">Get a site unblocked</a></div>
  <div><a href="{{ url_for('category.random') }}">Take action: Report sites</a></div>
#}
{% endblock %}

{%block body %}



<form action="{{ url_for('site.check_post') }}" method="POST">
<input type="hidden" name="submit" value="{{live | lower }}" />

<div class="form-group">
  <label for="url">Enter a web address</label>
  <div class="control-group">
    <div class="input-group">
    <input type="text"  placeholder="http://" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="url" id="url" class="form-control" />
    <span class="input-group-btn">
    <input type="submit" value="Check site &#x27f6;" style="text-transform: uppercase" class="btn btn-primary" />
    </span>
    </div>
  </div>
</div>

</form>
<p>Blocked instantly tells you if a website is blocked by the parental control filters
of the UK's major broadband and mobile internet providers.</p>

<p>If the website is blocked, you'll be able to report the mistake to the ISPs so
they can correct it.</p>

{%endblock%}


{% block body_right %}
<div class="frontpage-text" style="">
<h3>Why are websites being blocked?</h3>

<p>At least 3.5 million households in the UK are using their broadband or mobile internet provider's
web filters that are meant to stop under-18s seeing harmful content online.</p>

<p>Unfortunately, these filters block many websites by mistake.</p>

<p><strong>Hundreds of websites have been incorrectly blocked, including websites for charities,
businesses, schools, the LGBTQ+ community, mental health and addiction support, and 
survivors of sexual assault and domestic violence.</strong></p>

<p>Website owners often don't know this is happening.</p>

<p><a href="#">Find out more about web blocking in the UK.</a></p>

</div>

{% endblock %}

{% block body_after_row %}

<div class="shaded">
<div class="container">


<div class="row">
<div class="col-md-5">
<h3>See blocked websites</h3>

<p>We've identified lots of websites that are blocked in the UK by filters.
Find out what sites are blocked and then report incorrectly blocked sites.</p>

<p><strong>Browse blocked websites by specific categories, such as Mental Health, 
Relationships, or Addictions.</strong></p>

<a href="{{ url_for('category.blocked_sites') }}" class="btn btn-primary">Browse blocked sites by category &#x27f6;</a>

<p style="margin-top: 1.5em">Search for blocked websites by keywords.  Try looking for sites you are 
interested in.</p>

<a href="{{ url_for('category.sites_search') }}" class="btn btn-primary">Search blocked sites by keyword &#x27f6;</a>
</div>

<div class="col-md-6 col-md-offset-1">
{{ unblock_help() }}
</div>

</div> <!-- /.row -->

</div> <!-- /.container -->
</div> <!-- /.shaded -->


<div class="shaded">
<div class="container">

<div class="row" style="padding-bottom: 0px">
  <div class="col-md-12 stats hidden-sm">
      <h3>Blocked - in numbers</h3>
    <div class="row" style="padding-bottom: 0px; margin-bottom: 0px">

    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.urls_tested) }}</span> sites tested</div>
    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.blocked_sites_detected_total) }}</span> blocked sites detected</div>
    <div class="col-lg-2 col-md-4"><span>{{ "%0.02f%%"|format(100*stats.blocked_sites_detected_default_filter/stats.blocked_sites_sample_size) }}</span> of Alexa top 100,000 sites blocked on default filter settings</div>
    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.isp_reports_made) }}</span> reports sent by our users</div>
    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.isp_reports_unblocked) }}</span> blocks removed by our users</div>
    <div class="col-lg-2 col-md-4"><span>{{ "{:,}".format(stats.suspected_errors) }}</span> suspected mistakes identified by search</div>
    </div>
  </div>
</div> <!-- /.row -->

</div> <!-- /.container -->
</div> <!-- /.shaded -->
{% endblock %}

{% block h1_title %}
<h1>Is your <span class="descriptor">favourite</span> website blocked in the UK?</h1>
{% endblock %}

{% block page_script %}

$(document).ready(function(){
    $('#tryanother').click(function(){
        $('#siteinfo').fadeOut(400, function() {
            $.get('{{ url_for('unblock.browse_next_js') }}', function(data, status, xhr) {
                $('#sitelink').attr('href', data.url);
                $('#sitelink').text(data.url);
                $('#sitetitle').text(data.title || '(no title)');

                $('#unblock').attr('href', '{{ url_for('unblock.unblock', url='') }}' + escape(data.url));
                $('#siteinfo').fadeIn();

            });
        });
        return false;
    });

});

{% endblock %}

{% macro unblock_help() %}
<h3>Is this website blocked incorrectly?</h3>
<p>We've identified that this website is being blocked by some UK ISPs.
See which ISPs are blocking the website.  Reported it to the ISPs if it's incorrectly blocked.</p>
<div style="min-height: 3em; background-color: #fafafa; margin: 4px; padding: 4px">
<div id="siteinfo" class="site" >
  <div  class="randomurl"><strong>Website: </strong><a id="sitelink" href="{{site.url}}" target="_blank" rel="nofollow">{{site.url|domain}}</a></div>
  <p id="sitetitle"><strong>Title: </strong>{{site.title|null('(no title)')}}</p>
</div>
</div>

{% if False %}
  <div style="padding-bottom: 1em">
    <strong>{{blockednetworks|join_en }}</strong> {% if blockednetworks|length == 1 %}is{% else %}are{% endif %} blocking this site for customers using filters.
  </div>
{% endif %}


  <div class="buttonlist btn-group btn-group-justified" style="margin-top: 0.5em">
    <a href="{{url_for('unblock.unblock', url=site.url)}}" id="unblock" rel="nofollow" class="btn  btn-primary">See the ISPs blocking this site &#x27f6;</a>
    <a href="{{url_for('unblock.browse_next',after=site.url) }}" id="tryanother" class="btn btn-primary">See another site &#x21ba;</a>
  </div> <!-- /.buttonlist -->

{% endmacro %}

{% macro more_blocks() %}
  <div>
  {% if config.MODULE_CATEGORY %}
  <h3>More ways to check blocked sites</h3>
  <div><a href="{{ url_for('category.blocked_sites') }}">Browse blocked sites by category</a></div>
  <div><a href="{{ url_for('category.sites_search') }}">Search blocked sites by keyword</a></div>

  {% endif %}

{% if config.MODULE_UNBLOCK %}
{{ unblock() }}
  {% endif %}
  

  </div>

{% endmacro %}
