{% extends "BasicPage.page.html" %}



{% block body %}
<!-- template BasicPage -->
<div class="row">
<div class="col-md-6">


{%block col1_row1 %}{%endblock%}


</div>
<div class="col-md-6">

{% block col2_row1 %}{%endblock%}
</div>
</div>

<div class="row">
<div class="col-md-6">

{% block col1_row2 %}{%endblock%}

</div>
<div class="col-md-6">

{% block col2_row2 %}{%endblock%}

</div>
</div>


<div class="row">
<div class="col-md-6">

{% block col1_row3 %}{%endblock%}

</div>
<div class="col-md-6">
{% block col2_row3 %}{%endblock%}
</div>
</div>


{{ chunks.contactForm('shaded-row') }}

<div class="row shaded-row">
{{ chunks.contactChunk() }}
</div>

{% endblock %}
