{% extends "layout_1x3.page.html" %}

{%set pagetitle = remote_content.title if 'title' in remote_content
    else "Website blocking through legal means" %}

{% block col1_row1 %}
{{ remote_content.TextAreaOne|safe }}
{%endblock%}

{% block col1_row2 %}
{{ remote_content.TextAreaTwo|safe }}
{%endblock%}

{% block col1_row3 %}
{{ remote_content.TextAreaThree|safe }}
{%endblock%}

{% block bodyrow2 %}
<div class="row">
<div class="col-md-12">

<h2>Recent legally-blocked sites</h2>
<table class="table table-striped">
    <tr>
        <th>URL</th>
        <th>Network</th>
        <th>First Detected</th>
        <th>Last Checked</th>
    </tr>
    {% for row in blocks %}
    <tr>
        <td>{{ row.url }}</td>
        <td>{{ row.network_name }}</td>
        <td>{{ row.first_blocked | fmtime }}</td>
        <td>{{ row.last_blocked | fmtime }}</td>
    </tr>
    {% endfor %}
</table>
<ul class="pagination">
    <li class="{{ "disabled" if page == 1 else '' }}">
      <a href="{{url_for('.legal_blocks', page=page-1)}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% set pagestart = 1 if page - 3 < 1 else page - 3 %}
    {% set pageend = pagecount+1 if pagestart +7 > pagecount else pagestart+7 %}
    {% for i in range(pagestart, pageend) %}
    <li class="{{ 'active' if i == page  else '' }}"><a href="{{url_for('.legal_blocks', page=i)}}">{{i}}</a></li>
    {% endfor %}
    <li class="{{ 'disabled' if page == pagecount else '' }}">
      <a href="{{url_for('.legal_blocks', page=page+1)}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
</ul>

</div>
</div>
{% endblock %}
