{% extends "BasicPage.page.html" %}
{% import "paging.part.html" as paging %}

{%set pagetitle = "Legal block errors" %}

{% macro sortlink(v) %}
{% if request.args.get('sort','url') != v %}
<a href="{{ url_for('.legal_errors', sort=v) }}" title="Sort by {{v}}"><span class="glyphicon glyphicon-chevron-down"></span></a>
{% else %}
<span class="glyphicon glyphicon-chevron-down"></span>
{% endif %}
{% endmacro %}

{% block page_style %}

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">

<div class="stats">
<div>
<span>{{ "{:,}".format(stats1.total) }}</span>
sites blocked by injunction
</div>

<div>
<span>{{ "{:,}".format(stats1.error_count) }}</span>
sites incorrectly blocked
</div>

<div>
<span>{{ "{0:0.4f}".format(stats1.error_count|float / stats1.total) }}%</span>
of sites incorrectly blocked
</div>

</div>


    </div>

    <div class="col-md-6">
    
<table class="table">
<tr>
<th>Category</th>
<th class="num">Total errors</th>
</tr>
{% for row in stats2 %}
<tr>
  <td>{{ row.reason|replace('_',' ')|capitalize }}</td>
  <td class="num">{{ row.error_count }}</td>
</tr>
{% endfor %}
</table>    
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    
<table class="table">
<tr>
  <th>URL {{sortlink('url')}}</th>
  <th>Court Judgment</th>
  <th>Error {{sortlink('reason')}}</th>
  <th>Reported {{sortlink('created')}}</th>
</tr>
{% for row in stats3 %}

<tr>
<td><a href="{{ url_for('site.site', url=row.url)}}">{{ row.url }}</a></td>
<td>
    {% if row.judgment_url %}
    <a href="{{ row.judgment_url }}">
    {% endif %}
    {{ row.citation or row.case_number or 'Injunction' }}
    {% if row.judgment_url %}
    </a>
    {% endif %}
</td>    
<td>{{ row.reason|replace('_',' ')|capitalize }}</td>
<td>{{ row.created|fmdate }}</td>
</tr>

{% endfor %}
{% endblock %}


