{% extends "BasicPage.page.html" %}
{% import "paging.part.html" as paging %}

{%set pagetitle = "Legal blocks - Court orders" %}


{% block body %}
<div class="row">
    <div class="col-md-12">
    
    <table class="table">
    <tr>
    <th style="width: 50%">Judgment/Citation</th>
    <th>Date</th>
    <th class="num">Sites listed</th>
    <th class="num">Blocks Detected</th>
    </tr>
    {% for judgment in judgments %}
    <tr>
        <td>
            <div><a href="{{url_for('.legal_order_sites', id=judgment.id)}}">{{judgment.name}}</a></div>
            <div><em>{{judgment.citation|null}}</em></div>
        </td>
        <td>{{judgment.date|fmdate}}</td>
        <td class="num">{{judgment.site_count}}</td>
        <td class="num">{{judgment.block_count}}</td>
    </tr>
    
    {% endfor %}
    </table>
    
    </div>
</div>
{% endblock %}

