{% extends "layout_1x3.page.html" %}
{% import "paging.part.html" as paging %}
{% import "remotecontent.part.html" as rmt %}
{% import "legal-blocks.part.html" as legalblock %}

{%set pagetitle = g.remote_content.title if 'title' in g.remote_content
    else "Website blocking through legal means" %}

{%block page_menu%}
<div><a href="{{ url_for('.legal_errors') }}">Legal block errors</a></div>
{% endblock %}

{% block col1_row1 %}
{{ g.remote_content.TextAreaOne|safe }}
{%endblock%}

{% block col1_row2 %}
{{ g.remote_content.TextAreaTwo|safe }}
{%endblock%}

{% block col1_row3 %}
{{ g.remote_content.TextAreaThree|safe }}
{%endblock%}

{% block page_style %}
{{ legalblock.style() }}
{% endblock %}

{% block bodyrow2 %}
<div class="row">
<div class="col-md-12">

<div class="row">
<div class="col-md-7">
    <h2>Recent legally-blocked sites</h2>
    <h4>{{urlcount}} site{{'s' if urlcount != 1 else '' }} detected</h4>
</div>
<div class="col-md-5" style="padding-top: 20px">
    {% if config['SITE_THEME'] == 'blocked-eu' %}
      <div class="btn-group">
      <button  style="margin-right: 16px" type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-filter"></span>
        Filter by country <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% if region %}
          <li><a href="{{ url_for('.legal_blocks', page=page, sort=sortorder, region=None) }}">(all)</a></li>
        {% endif %}
        {% for code,country in countries.items() %}
          <li><a href="{{ url_for('.legal_blocks', page=page, sort=sortorder, region=code) }}">{{ country }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <a href="{{ url_for('.export_blocks', region=region) }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-save"></span> Export</a>
</div>
</div>

{% if config['SITE_THEME'] == 'blocked-uk' %}
{{ legalblock.table_courtorders(blocks) }}
{% else %}
{{ table_urllist(blocks) }}
{% endif %}

{{ paging.page_list('.legal_blocks', page, pagecount, region=region, sort=sortorder) }}

</div>
</div>
{% endblock %}


{% macro table_urllist(blocks) %}
<table class="table table-striped">
    <tr>
        <th><a href="{{ url_for('.legal_blocks', page=page, region=region, sort='url') }}" title="Sort by URL">URL</a>
        {% if sortorder == 'url' %}
            <span class="glyphicon glyphicon-chevron-down"></span>
        {% endif %}
        </th>
        <th>Networks</th>
        <th>First Detected</th>
        <th><a href="{{ url_for('.legal_blocks', page=page, region=region, sort='last_blocked') }}" title="Sort by last check date">Last Checked</a>
        {% if sortorder == 'last_blocked' %}
            <span class="glyphicon glyphicon-chevron-down"></span>
        {% endif %}
        </th>
    </tr>
    {% for row in blocks %}
    <tr>
        <td>{{ row.url }}
        <div class="sitereport"><a href="{{ url_for('site.site', url=row.url) }}">Site report</a></div>
        </td>
        <td class="networklist">
            <ul>
            {% for net in row.networks|sort %}
                <li>{{ net }}</li>
            {% endfor %}
            </ul>
        </td>
        <td>{{ row.first_blocked | fmtime }}</td>
        <td>{{ row.last_blocked | fmtime }}</td>
    </tr>
    {% endfor %}
</table>

{% endmacro %}
