{% extends "BasicPage.page.html" %}
{% import "paging.part.html" as paging %}

{%set pagetitle = "Legal block errors" %}

{% macro sortlink(v, title) %}


<a href="{{ url_for('.legal_errors', page=page, sort=v, o='d' if request.args.get('sort','url') == v and request.args.get('o','a') == 'a' else 'a') }}" title="Sort by {{v}}">{{title}}</a>
  {% if request.args.get('sort','url') == v %}
  {% if  request.args.get('o','a') == 'a' %}
    <span class="glyphicon small glyphicon-triangle-bottom"></span></a>
  {% else %}
    <span class="glyphicon small glyphicon-triangle-top"></span></a>
  {% endif %}
  {% endif %}
{% endmacro %}

{% block page_style %}

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4">

<div class="stats">
<div>
<span>{{ "{:,}".format(stats1.total) }}</span>
sites blocked by injunction
</div>

<div>
<span>{{ "{:,}".format(stats1.error_count) }}</span>
sites incorrectly blocked
</div>

<div>
<span>{{ "{0:0.2f}".format(100.0*stats1.error_count / stats1.total) }}%</span>
of sites incorrectly blocked
</div>

<div ><small>Totals based on networks with no parental control filters.</small></div>
</div>


    </div>

    <div class="col-md-4"> 
    <h4>Error status by type</h4>
<table class="table">
<tr>
<th>Category</th>
<th class="num">Total</th>
</tr>
{% for row in stats2 %}
{% if row.reason != 'block_appears_correct' %}
<tr>
  <td>{{ row.reason|replace('_',' ')|capitalize }}</td>
  <td class="num">{{ row.error_count }}</td>
</tr>
{% endif %}
{% endfor %}
</table>    
        
    </div>
    <div class="col-md-4">
    <h4>Errors by ISP</h4>
    <table class="table">
    <tr>
    <th>ISP</th>
    <th class="num">Errors</th>
    </tr>
    {% for row in stats4 %}
    <tr>
        <td>{{row.description|replace(' (unfiltered)','')}}</td>
        <td class="num">{{row.error_count}}</td>
        <td></td>
    </tr>
    {%endfor%}
    </table>
    
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    
<table class="table">
<tr>
  <th>{{sortlink('url', 'URL')}}</th>
  <th>Court Judgment</th>
  <th>{{sortlink('reason', 'Error')}}</th>
  <th>{{sortlink('created', 'Reported')}}</th>
</tr>
{% for row in stats3 %}

<tr>
<td><a href="{{ url_for('site.site', url=row.url)}}">{{ row.url }}</a></td>
<td>
    {% if row.judgment_url %}
    <a href="{{ row.judgment_url }}">
    {% endif %}
    {{ row.citation or row.case_number or 'Injunction' }}
    {% if row.judgment_url %}
    </a>
    {% endif %}
</td>    
<td>{{ row.reason|replace('_',' ')|capitalize }}</td>
<td>{{ row.created|fmdate }}</td>
</tr>

{% endfor %}
</table>
{{ paging.page_list('.legal_errors', page, pagecount) }} 

{% endblock %}


