{% extends "BasicPage.page.html" %}
{%import "remotecontent.part.html" as rmt %}
{% import "forms.part.html" as forms %}
{% import "osa/osa_common.part.html" as osa_common %}

{% set pagetitle = "Online Safety Act - shutdowns and site blocks" %}

{% block page_style %}
.row-border {
    border-top: 1px solid rgb(221, 221, 221);
}
.row-border:last-child {
    border-bottom: 1px solid rgb(221, 221, 221);
    }

.mr-1rem {
   margin-right: 1rem;
}
{% endblock %}

{% block banner_text %}
{% endblock %}

{% block page_menu %}

<div class="well">
<h3>Submit a new site</h3>
<p>Tell us about a site that is shutting down or restricting access to UK users as a result of the Online Safety Act</p>
<div style="text-align: right"><a href="{{ url_for('.osa_blocks_report') }}" class="btn btn-primary">Continue <i class="glyphicon glyphicon-arrow-right"></i></a></div>
</div>

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">

{% for case in cases %}
<div class="row row-border">
    <div class="col-md-12">
        <h3 style="">
            <a href="{{ case.url }}" rel="nofollow">{{ case.title or (case.url|domain) }}</a>
        {% if case.block_type == 'shutdown_osa' %}
            <span class="glyphicon glyphicon-remove-sign" title="Site has shut down" />
        {% elif case.block_type == 'geoblock' or case.block_type == 'geoblock_osa' %}
            <span class="glyphicon glyphicon-ban-circle" title="Site is geo-blocking content" />
        {% endif %}
        </h3>
        <div><small>{{ case.url }}</small></div>
        <div>Reported: {{ case.created|fmtime}}</div>
        {% if case.shutdown_date %}
        <div>Shut down on: {{ case.shutdown_date|fmdate }}</div>
        {% endif %}
        <div style="margin-top: 0.75rem">{{ osa_common.block_type_options[case.block_type]|safe }}</div>
        <div>
            {{ case.description|null }}
        </div>
        <div style="margin-top: 0.75rem">
            <span class="label label-default mr-1rem">
                {{ case.status|title }}
            </span>
            {% if case.archive_url %}
            <a href="{{ case.archive_url }}">Archived page <span class="glyphicon glyphicon-new-window" /></a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

    </div>
</div>


<div class="row shaded-row">
{{ chunks.contactChunk() }}
</div>

{% endblock %}


