{% extends "layout_1x3.page.html" %}

{% set menu_block_alt=True %}{# show menu block alongside banner text, instead of pagetitle block #}
{%set pagetitle = content.title %}

{% block banner_text %}
{{ content.banner_text |safe }}
{% endblock %}

{%block col1_row1 %}
{{ content.TextAreaOne |safe }}
{% endblock %}


{%block col1_row2 %}
{{ content.TextAreaTwo |safe }}
{% endblock %}


{%block col1_row3 %}
{{ content.TextAreaThree |safe }}
{% endblock %}

{% block page_menu_alt %}
{{ content.page_menu | safe }}
{% endblock %}
