{% extends "layout_1x3.page.html" %}
{% import "paging.part.html" as paging %}
{% from "network_description.part.html" import isp_info, popover_js %}

{%set pagetitle = g.remote_content.title if 'title' in g.remote_content
    else "Recently reported sites" %}

{% block col1_row1 %}
{{ g.remote_content.TextAreaOne|safe }}
{%endblock%}

{% block col1_row2 %}
{{ g.remote_content.TextAreaTwo|safe }}
{%endblock%}

{% block col1_row3 %}
{{ g.remote_content.TextAreaThree|safe }}
{%endblock%}

{% block bodyrow2 %}

<table class="table">
    <tr>
        <th>ISP</th>
        <th class="num">Reports Sent</th>
        <th class="num">Reports answered</th>
        <th class="num">Sites Unblocked</th>
        <th class="num">Avg response time (days)</th>
    </tr>
    <tr>
        <td>All<br />
            <a id="reveal" href="#"><span class="glyphicon glyphicon-chevron-down"></span> Show all ISPs </a>
        </td>
        <td class="num">{{ stats['all'].sent }}</td>
        <td class="num">{{ stats['all'].responses }}</td>
        <td class="num">{{ stats['all'].unblocked }}</td>
        <td class="num">{{ "%0.1f" | format(stats['all'].avg_response_time) }}</td>
    </tr>
    {% for isp, stat in stats.iteritems()|sort %}
    {% if isp != 'all' %}
    <tr style="display: none" class="reveal">
        <td>{{ isp }}</td>
        <td class="num">{{ stat.sent }}</td>
        <td class="num">{{ stat.responses }}</td>
        <td class="num">{{ stat.unblocked }}</td>
        <td class="num">
            {% if stat.avg_response_time %}
            {{ "%0.1f" | format(stat.avg_response_time|float) }}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}

</table>

<div class="row">
<div class="col-lg-8">
  <h2>Incorrectly blocked sites reported to ISPs</h2>
</div>
<div class="col-lg-4">

<form class="form form-inline" method="POST" action="{{url_for('.reported_sites', method='POST')}}">
    <div class="form-group">
        <label for="isp">Filter by ISP: </label>
        <select class="form-control" name="isp">
            <option value="" {{ 'selected' if current_isp == None else ''}}>All ISPs</option>
            {% for isp in config.ISPS %}
            <option value="{{ isp }}" {{ 'selected' if isp==current_isp else ''}}>{{isp}}</option>
            {% endfor %}
        </select>
        <input class="btn btn-default" type="submit" value="Update" />
    </div>
</form>

</div>
</div> <!-- /.row -->
<div class="row">
<div class="col-md-12">
<table class="table table-striped">
    <tr>
        <th>URL</th>
        <th>Network</th>
        <th></th>
        <th>Reported at</th>
        <th>Status</th>
    </tr>
    {% for row in reports %}
    <tr>
        <td style="width: 40%"><a href="{{row.url}}" rel="nofollow" target="_blank">{{ row.url }}</a>
        {% if row.message %}
            <p class="report-message"><span>&ldquo;</span>{{ row.message | strip('"') }}<span>&rdquo;</span></p>
        {% endif %}
        </td>
        <td>
          {{ isp_info(row.description, networks) }}
        </td>
        <td><a href="{{ url_for('site.site', url=row.url) }}">View site report</a></td>
        <td>{{ row.submitted | fmtime if row.submitted else "On hold" }}</td>
        <td>
            {% if row.unblocked %}
            <span class="label label-success">Unblocked</span>
            {% else %}
            <span class="label label-default">Blocked</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{{ paging.page_list('.reported_sites', page, pagecount, isp=current_isp) }}

</div>
</div>
{% endblock %}

{% block page_script %}
  $(document).ready(function(){
    {{ popover_js() }}
    $('#reveal').click(function() {
        $('.reveal').toggle();
        return false;
    });
  });
{% endblock %}
