{% extends "layout_1x3.page.html" %}
{% import "paging.part.html" as paging %}

{%set pagetitle = g.remote_content.title if 'title' in g.remote_content
    else "Recently reported sites" %}

{% block col1_row1 %}
{{ g.remote_content.TextAreaOne|safe }}
{%endblock%}

{% block col1_row2 %}
{{ g.remote_content.TextAreaTwo|safe }}
{%endblock%}

{% block col1_row3 %}
{{ g.remote_content.TextAreaThree|safe }}
{%endblock%}

{% block bodyrow2 %}
<div class="row">
<div class="col-lg-8">
  <h2>Incorrectly blocked sites reported to ISPs</h2>
</div>
<div class="col-lg-4">

<form class="form form-inline" method="POST" action="{{url_for('.reported_sites', method='POST')}}">
    <div class="form-group">
        <label for="isp">Filter by ISP: </label>
        <select class="form-control" name="isp">
            <option value="" {{ 'selected' if current_isp == None else ''}}>All ISPs</option>
            {% for isp in config.ISPS %}
            <option value="{{ isp }}" {{ 'selected' if isp==current_isp else ''}}>{{isp}}</option>
            {% endfor %}
        </select>
        <input class="btn btn-default" type="submit" value="Update" />
    </div>
</form>

</div>
</div> <!-- /.row -->
<div class="row">
<div class="col-md-12">
<table class="table table-striped">
    <tr>
        <th>URL</th>
        <th>Network</th>
        <th></th>
        <th>Reported at</th>
        <th>Status</th>
    </tr>
    {% for row in reports %}
    <tr>
        <td><a href="{{row.url}}" rel="nofollow" target="_blank">{{ row.url }}</a></td>
        <td>{{ row.network_name }}</td>
        <td><a href="{{ url_for('category.site', url=row.url) }}">View site report</a></td>
        <td>{{ row.created | fmtime }}</td>
        <td>
            {% if row.unblocked %}
            <span class="label label-success">Unblocked</span>
            {% else %}
            <span class="label label-default">Blocked</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{{ paging.page_list('.reported_sites', page, pagecount, isp=current_isp) }}

</div>
</div>
{% endblock %}
