{% extends "layout_1x3.page.html" %}
{% import "paging.part.html" as paging %}

{%set pagetitle = remote_content.title if 'title' in remote_content
    else "Recently reported sites" %}

{% block col1_row1 %}
{{ remote_content.TextAreaOne|safe }}
{%endblock%}

{% block col1_row2 %}
{{ remote_content.TextAreaTwo|safe }}
{%endblock%}

{% block col1_row3 %}
{{ remote_content.TextAreaThree|safe }}
{%endblock%}

{% block bodyrow2 %}
<div class="row">
<div class="col-md-12">

<h2>Incorrectly blocked sites reported to ISPs</h2>
<table class="table table-striped">
    <tr>
        <th>URL</th>
        <th>Network</th>
        <th>Reported at</th>
        <th>Status</th>
    </tr>
    {% for row in reports %}
    <tr>
        <td>{{ row.url }}</td>
        <td>{{ row.network_name }}</td>
        <td>{{ row.created | fmtime }}</td>
        <td>
            {% if row.unblocked %}
            <span class="label label-success">Unblocked</span>
            {% else %}
            <span class="label label-default">Blocked</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{{ paging.page_list('.reported_sites', page, pagecount) }}

</div>
</div>
{% endblock %}
