{% extends "support.page.html" %}

{% block banner_text %}
Blocked is a free tool.  It was generously funded by our sponsors and Open
Rights Group (ORG) supporters, and it was built by ORG volunteers.  We
welcome support of this project, and there are lots of ways you can help.
{% endblock %}

{%block spread_the_word %}

<p>Sample Para</p>

{% endblock %}


{%block write_to_your_mp %}

<p>Sample Para</p>

{% endblock %}


{%block donate %}

<p>Sample Para</p>

{% endblock %}


{%block join_org %}

<p>Sample Para</p>

{% endblock %}


{%block volunteer %}

<p>Sample Para</p>

{% endblock %}


