{% extends "admin.page.html" %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "URL Admin" %}


{% block body %}
<div class="row">

<div class="col-md-9">


<div>
<form action="{{url_for('.urls_upload_post')}}" method="POST">
<legend>URL Upload</legend>
 {{ forms.textarea_field('URLs to add (paste one per line)', 'urls', '', rows=14) }}    

 {{ forms.text_field('Source (required):', 'source' '', hint="A simple identifier for the source of these URLs.  Also added as a tag") }}

 <h4>Add tags:</h4>
 <div class="well">

    <div class="form-group">
    {% for tag in tags %}
    <span style="white-space: nowrap; margin-right: 16px">
        <label>
        <input type="checkbox" name="tag" value="{{ tag }}"> {{ tag }}</input>
        </label>
    </span>
    {% endfor %}
    </div>
    <div class="form-group"><div><label>New tags:</label></div>
        <input class="form-inline" type="text" name="tag" value="" />
        <input class="form-inline" type="text" name="tag" value="" />
        <input class="form-inline" type="text" name="tag" value="" />
    </div>
 
</div>
<input type="submit" class="btn btn-lg btn-primary" value="Upload"></input>
</form>
</div>

</div><!-- /.col -->
</div>

{% endblock %}

{% block page_script %}

$(document).ready(function(){
  $('#newtag').hide();
  $('#switchnewtag').click(function(){
     $('#newtag').show();
     $('#existingtag').hide();
     return false;
  });   
  $('#switchexistingtag').click(function(){
     $('#newtag').hide();
     $('#existingtag').show();
     $('input[name=newtag]').val('');
     return false;
  });
  
  
});

{% endblock %}
