<!DOCTYPE html>
<html>
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
<title>{{pagetitle}}</title>
<style type="text/css">
.num { text-align: right }
.labelled_text label {
    float: left;
    display: inline-block;
    width: 8.5em;
}
.labelled_text {
    clear: both;
}
{% block pagestyle %}{% endblock%}
</style>
</head>
<body>
{% block nav %}

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('.admin') }}">Blocked.org.uk Admin</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="/control">Home</a></li>
          <li class=""><a href="{{ url_for('.users') }}">Users</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">URLs <span class="caret"></span></a></a>
              <ul class="dropdown-menu">
                  <li><a href="{{ url_for('.urls') }}">URL admin</a></li>
                  <li><a href="{{ url_for('.urls_upload') }}">URL upload</a></li>
                  <li><a href="{{ url_for('.url_categories') }}">URL Categories</a></li>
              </ul>
          </li>
          <li class=""><a href="{{ url_for('.ispreports') }}">ISP Reports</a></li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ISP Stats<span class="caret"></span></a></a>
              <ul class="dropdown-menu">
                  <li class=""><a href="{{ url_for('.ispreport_stats') }}">ISP Report Stats</a></li>
                  <li class=""><a href="{{ url_for('.ispreport_reply_stats') }}">ISP Report Reply Stats</a></li>
                  <li class=""><a href="{{ url_for('.ispreport_consistency') }}">ISP Blocking consistency stats</a></li>
                  <li class=""><a href="{{ url_for('.ispreport_category_stats') }}">ISP Report URL Category stats</a></li>
              </ul>
          </li>

          <li class=""><a href="{{ url_for('.tests') }}">Test Schedule</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Legal Requests <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{{ url_for('.courtorders') }}">Admin</a></li>
                  <li><a href="{{ url_for('.courtorders_review') }}">Review Unmatched</a></li>
                  <li><a href="{{ url_for('.courtorders_group_import') }}">Import URL Groups</a></li>
              </ul>

          </li>
          <li class=""><a href="{{ url_for('.savedlists') }}">Saved Lists</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">System Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li class=""><a href="{{ url_for('.blacklist_select') }}">Domain Exclude-list</a></li>
                  <li class=""><a href="{{ url_for('.search_filter') }}">Search Filter</a></li>
              </ul>
          </li>
          <li class=""><a href="{{url_for('.logout')}}" class="">Log out</a></li>
          <!-- 
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
            <ul class="dropdown-menu">
            </ul>
          </li>
          -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
{%endblock%}
  
    <div class="container">
{%block messages %}
    {% for msg in messages %}
        <div class="alert alert-info">{{ msg }}</div>
    {% endfor %}
    {% for msg in get_flashed_messages() %}
        <div class="alert alert-info">{{ msg }}</div>
    {% endfor %}
{% endblock %}


{% block body %}{% endblock %}

    </div> <!-- /.container -->
<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="application/javascript">
{% block page_script %}{% endblock %}
</script>
</body>
</html>

