{% extends "admin.page.html" %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Administrator Login" %}


{% block body %}
<div class="row">

<div class="col-md-6">
<div class="well">
<h2>Cached CMS content</h2>

<p>Last update: {% if cmsdate == None %}(no cache){% else %}{{cmsdate|fmtime}}{%endif%}</p>
<div>
<form action="{{url_for('.cacheclear')}}" method="POST">
<input type="submit" class="btn btn-warning" value="Clear Cache" />
</form>
</div>

</div><!-- /.well -->
</div><!-- /.col -->

    <div class="col-md-6">
<div class="well">
<h2>Force-check URL</h2>

<div>
<form action="{{url_for('.forcecheck')}}" method="POST">
    {{ forms.text_field('URL','url') }}
<input type="submit" class="btn btn-primary" value="Submit" />
</form>
</div>

</div><!-- /.well -->
</div><!-- /.col -->
</div>

{% endblock %}

