{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Legal Requests Admin" %}

{% block body %}
<div class="row">
  <div class="col-md-12">

  <h1>{{pagetitle}}</h1>
  <form action="{{url_for('.courtorders_update', id=obj.id)}}" method="POST">
  <legend>Edit {{ obj.name}}</legend>
  <div class="row">
    <div class="col-md-8">

  {{forms.text_field('Name','name', obj.name)}}
  {{forms.text_field('Date (yyyy-mm-dd)','date', obj.date)}}
  {{forms.text_field('Judgment URL','judgment_url', obj.judgment_url)}}
  {{forms.text_field('Wiki URL','url', obj.url)}}
  {{forms.text_field('Citation','citation', obj.citation)}}
  {{forms.text_field('Case Number','case_number', obj.case_number)}}

  {{forms.select_field('Restriction type', 'restriction_type', obj.restriction_type,
      [
        ('',''),
        ('domain_seizure','Domain Seizure'),
        ('domain_suspension','Domain Suspension'),
        ('isp_block','ISP Block'),
        ('content_removal','Content Removal'),
      ])
    }}

  {{forms.select_field('Instruction type', 'instruction_type', obj.instruction_type,
      [
      ('',''),
      ('injunction','Injunction'),
      ('administrative_order', 'Administrative order'),
      ])
  }}

  {{forms.select_field('Jurisdiction', 'jurisdiction', obj.jurisdiction,
      [
      ('',''),
      ('uk','UK'),
      ('scotland','UK (Scotland only)'),
      ('us','USA'),
      ])
  }}

  {{forms.select_field('Power used', 'power_id', obj.power_id, [('','')] + powers) }}

  {{forms.select_field('Court/Authority', 'court_authority', obj.court_authority,
      [
      ('',''),
      ('high_court','High Court'),
      ('bbfc_order','BBFC Administrative Order'),
      ])
  }}

  {{forms.text_field('Application made by','injunction_obtained_by', obj.injunction_obtained_by)}}
  {{forms.text_field('Applications represented by','injunction_represented_by', obj.injunction_represented_by)}}

  <h3>Injunction applies to</h3>
      <div class="row">
  {% for order in orders %}
      <input type="hidden" name="order_id" value="{{order.id}}" />
      <input type="hidden" name="network_name" value="{{order.network_name}}" />
        <div class="col-md-3">
      {{ forms.check_field(order.network_name, 'applies', order.network_name, True) }}
        </div>
        <div class="col-md-5">
      {{ forms.text_field('Court order URL', 'applies_url', order['url']) }}
        </div>
        <div class="col-md-4">
      {{ forms.text_field('Date (yyyy-mm-dd)', 'order_date', order.date) }}
        </div>
        <div class="col-md-4">
      {{ forms.text_field('Expiry Date (yyyy-mm-dd)', 'expiry_date', order.expiry_date) }}
        </div>
  {% endfor %}
    </div>
    <div class="row">
  {% for isp in config.ISPS | sort %}
      {% if isp not in order_networks %}
      <input type="hidden" name="order_id" value="" />
      <input type="hidden" name="network_name" value="{{isp}}" />
        <div class="col-md-3">
      {{ forms.check_field(isp, 'applies', isp) }}
        </div>
        <div class="col-md-5">
      {{ forms.text_field('Court order URL', 'applies_url', '') }}
        </div>
        <div class="col-md-4">
      {{ forms.text_field('Date (yyyy-mm-dd)', 'order_date', '') }}
        </div>
        <div class="col-md-4">
      {{ forms.text_field('Expiry Date (yyyy-mm-dd)', 'expiry_date', '') }}
        </div>
      {% endif %}
  {% endfor %}
    </div>

  <h3>Additional information</h3>

  {{forms.textarea_field('Other docs (html)','other_docs', obj.other_docs)}}
  {{forms.textarea_field('Affected sites description (html)','sites_description', obj.sites_description)}}


      {{forms.submit('Update')}}
    </div>
  </div>
</form>


  </div>
</div>
{% endblock %}


