{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Legal Requests Admin" %}

{% block body %}
<div class="row">
  <div class="col-md-6">

    <h1>{{pagetitle}}</h1>
    <h2>{{ judgment.name }}</h2>
  </div>

</div>

{% macro field(label,name,obj,type='text') %}
<div>
    <strong>{{label}}: </strong>
    {% if type == 'text' %}
    <span>{{obj[name]|null}}</span>
    {% elif type == 'url' and obj[name] != None %}
    <span><a href="{{obj[name]}}" target="_blank">{{obj[name]}}</a></span>
    {% endif %}
</div>
{% endmacro %}

{% macro display(s) %}
{{ s|replace('_',' ')|title }}
{% endmacro %}

<div class="row">
    <div class="col-md-12">

        {{ field('Citation','citation',judgment) }}
        {{ field('Judgment URL','judgment_url',judgment,'url') }}
        {{ field('Wiki URL','url',judgment,'url') }}
        {{ field('Date','date',judgment) }}
        {{ field('Case number','case_number',judgment) }}
        {{ field('Restriction type','restriction_type',judgment) }}
        {{ field('Instruction type','instruction_type',judgment) }}
        {{ field('Jurisdiction','jurisdiction',judgment) }}
        {{ field('Court/authority','court_authority',judgment) }}
        {{ field('Application made by','injunction_obtained_by',judgment) }}
        {{ field('Applicants represented by','injunction_represented_by',judgment) }}

        <div class="row">
            <div class="col-md-8">
        <h3>Additional Information</h3>
        <h4>Other court documents</h4>
        <div>{{judgment.other_docs|null|safe}}</div>
        <h4>Sites targeted</h4>
        <div>{{judgment.sites_description|null|safe}}</div>
            </div>
            <div class="col-md-4">
        <h3>Court Orders</h3>
                <ul>
        {% for order in orders %}
                <li>{{ order.network_name }} <a href="{{order.url}}" target="_blank">{{ order.url }}</a></li>
        {% endfor %}
                </ul>
            </div>
        </div>

        <h2>Targeted sites</h2>
        <div class="row">
            <div class="col-md-8">
                <form method="POST" action="{{url_for('.courtorders_site_group')}}">
                    {% for sitegrp, grpsites in sites %}
                    <h4 style="padding: 0.25em; background-color: {{'lightblue' if sitegrp else 'lightgray'}}">
                        {{sitegrp or 'Uncategorized'}}
                    </h4>
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>URL</th>
                            <th>Whois Expiry</th>
                            <th></th>
                        </tr>
                    {% for site in grpsites %}
                        <tr>
                            <td>
                            <input type="checkbox" name="site_id" value="{{site.id}}" />
                            </td>
                            <td>{{site.url}}</td>
                            <td>{{site.whois_expiry|fmdate}}</td>
                            <td>
                            <a href="{{ url_for('.urls',url=site.url) }}" title="Administer URL">
                                <span class="glyphicon glyphicon-tag"></span>
                            </a>
                            <a href="{{ url_for('.courtorders_site_flag',id=site.id) }}" class="{{ 'label label-info' if site['flag_id'] else '' }}" title="{{'This site has been flagged' if site['flag_id'] else 'Flag this site' }}">
                                <span class="glyphicon glyphicon-flag "></span>
                            </a>
                            <a href="{{ url_for('.courtorders_site_delete',id=site.id) }}" title=">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% endfor %}
                    {% if groups|length > 0 %}
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" name="judgment_id" value="{{judgment.id}}" />
                            {{forms.select_field('Add to Group','group_id', None, [('','Uncategorized')]+groups) }}
                            <input type="submit" class="btn btn-primary btn-sm" value="Add selected sites to group" />
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">URLs</div>
                            <div class="panel-body">
                                <form class="form" method="POST" action="{{url_for('.courtorders_site_add')}}">
                                    <legend>Add site</legend>
                                    <input type="hidden" name="judgment_id" value="{{judgment.id}}" />
                                    <label for="url">URL:</label>
                                    <div class="control-group">
                                        <input class="form-control" type="text" name="url" />
                                    </div>
                                    <input class="btn btn-default" type="submit" value="Add" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 2em">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">URL Groups</div>
                            <div class="panel-body">
                                <form class="form form-inline" method="POST" action="{{url_for('.courtorders_group_add')}}">
                                    <legend>Add Group</legend>
                                    <input type="hidden" name="judgment_id" value="{{judgment.id}}" />
                                    <label for="url">Name:</label>
                                    <div class="control-group">
                                        <input class="form-control" type="text" name="name" />
                                        <input class="btn btn-default" type="submit" value="Add" />
                                    </div>
                                </form>
                                <h4>Groups</h4>
                                <ul>
                                    {% for grp in groups %}
                                    <li>
                                        {{ grp[1] }}
                                        <a href="{{ url_for('.courtorders_group_delete',id=grp[0]) }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



