{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Court Order Admin" %}

{% block body %}
<div class="row">
  <div class="col-md-6">

    <h1>{{pagetitle}}</h1>
    <h2>Court Judgments</h2>
    <div>
        <a href="{{url_for('.courtorders_edit')}}" class="btn btn-primary">Add</a>
    </div>
  </div>

</div>
<div class="row">
    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th></th>
            </tr>
{% for judgment in judgments %}
    <tr>
        <td><a href="{{url_for('.courtorders_view', id=judgment.id)}}">{{judgment.name}}</a></td>
        <td>{{judgment.date}}</td>
        <td>
        <a href="{{ url_for('.courtorders_edit', id=judgment.id)}}" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="{{ url_for('.courtorders_delete', id=judgment.id)}}" class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-trash"></span> Delete</a>
        </td>
    </tr>
{% endfor %}
        </table>

  {# {{ paging.page_list('.courtorders', page, pagecount, 25) }} #}


</div>
</div>

{% endblock %}


