{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Court Order Admin" %}

{% block body %}
<div class="row">
  <div class="col-md-8">

  <h1>{{pagetitle}}</h1>
  <form action="{{url_for('.courtorders_update', id=obj.id)}}" method="POST">
  <legend>Edit {{ obj.name}}</legend>
  <div class="row">
    <div class="col-md-6">

  {{forms.text_field('Name','name', obj.name)}}
  {{forms.text_field('Date (yyyy-mm-dd)','date', obj.date)}}
  {{forms.text_field('Wiki URL','url', obj.url)}}
      {{forms.submit('Update')}}
    </div>
  </div>
</form>


  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Court Orders</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Network</th>
    <th>Date</th>
    <th>URL</th>
  </tr>
  {% for order in orders %}
  <tr>
    <td>{{ order.name }}</td>
    <td>{{ order.network_name }}</td>
    <td>{{ order.date }}</td>
    <td>{{ order.url }}</td>
  </tr>
  {% endfor %}
</table>


  </div>
  <div class="col-md-4 well">
    <form action="{{ url_for('.courtorders_add_order', judgment_id=obj.id)}}" method="POST">
      <legend>Add court order</legend>
      {{ forms.text_field('Name', 'name') }}
      {{ forms.text_field('Date (yyyy-mm-dd)', 'date') }}
      {{ forms.text_field('URL', 'url') }}
      {{ forms.select_field('Network','network_name',None,config.ISPS) }}
      {{ forms.submit('Add') }}
    </form>
  </div>
</div>
{% endblock %}


