{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Court Order Admin" %}

{% block body %}
<div class="row">
  <div class="col-md-6">

    <h1>{{pagetitle}}</h1>
    <h2>Court Judgments</h2>

  </div>
  <div class="col-md-6">
    <div class="well">
<form action="{{url_for('.courtorders_update')}}" method="POST">
  <legend>Add new court judgment <a href="#" onclick="$(this).parent().next().show()"><span class="glyphicon glyphicon-chevron-down"></span></a> </legend>

  <div style="display: none" class="row">
    <div class="col-md-6">
  {{forms.text_field('Name','name')}}
  {{forms.text_field('Date (yyyy-mm-dd)','date')}}
  {{forms.text_field('Wiki URL','url')}}
  {{forms.submit('Add')}}
    </div>
  </div>

</form>
    </div>
  </div>
</div>
<div class="row">

<table class="table">
<tr>
  <th>Name</th>
  <th>Date</th>
  <th>URL</th>

  <th></th>
</tr>
{% for order in orders %}
<tr>
  <td>
    {{order.name}}
  </td>
  <td>{{order.date}}</td>
  <td>{{order.url}}</td>
  <td>
    <a href="{{ url_for('.courtorders_edit', id=order.id)}}" class="btn btn-primary">
      <span class="glyphicon glyphicon-edit"></span>
      Edit</a>
    <a href="{{ url_for('.courtorders_delete', id=order.id)}}" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span>
      Delete</a>
  </td>
</tr>

{% endfor %}
</table>

  {# {{ paging.page_list('.courtorders', page, pagecount, 25) }} #}



</div>
</div>

{% endblock %}


