{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Legal Requests Admin" %}

{% block page_script %}
$(document).ready(function(){
    $('#addrow').click(function(){
        var newrow = $('#template').clone();
        newrow.removeAttr('id');
        newrow.insertBefore($(this).parent());
        newrow.find('.deletebtn').click(function(){
            $(this).parent().parent().fadeOut(400, function(){
                $(this).remove();
            });
            return false;
        });
        newrow.show();
        return false;
    });
});

{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">

  <h1>{{pagetitle}}</h1>
  <form class="form" action="{{url_for('.courtorders_update', id=obj.id)}}" method="POST">
  <legend>Edit {{ obj.name}}</legend>
  <div class="row">
    <div class="col-md-12">

  {{forms.text_field('Name','name', obj.name, css="col-md-6")}}
  {{forms.text_field('Date (yyyy-mm-dd)','date', obj.date, css="col-md-6")}}
  {{forms.text_field('Judgment URL','judgment_url', obj.judgment_url, css="col-md-6")}}
  {{forms.text_field('Wiki URL','url', obj.url, css="col-md-6")}}
  {{forms.text_field('Citation','citation', obj.citation, css="col-md-6")}}
  {{forms.text_field('Case Number','case_number', obj.case_number, css="col-md-6")}}

  {{forms.select_field('Restriction type', 'restriction_type', obj.restriction_type,
      [
        ('',''),
        ('domain_seizure','Domain Seizure'),
        ('domain_suspension','Domain Suspension'),
        ('isp_block','ISP Block'),
        ('content_removal','Content Removal'),
      ], css="col-md-6")
    }}

  {{forms.select_field('Instruction type', 'instruction_type', obj.instruction_type,
      [
      ('',''),
      ('injunction','Injunction'),
      ('administrative_order', 'Administrative order'),
      ], css="col-md-6")
  }}

  {{forms.select_field('Jurisdiction', 'jurisdiction', obj.jurisdiction,
      [
      ('',''),
      ('uk','UK'),
      ('scotland','UK (Scotland only)'),
      ('us','USA'),
      ], css="col-md-6")
  }}

  {{forms.select_field('Power used', 'power_id', obj.power_id, [('','')] + powers, css="col-md-6") }}

  {{forms.select_field('Court/Authority', 'court_authority', obj.court_authority,
      [
      ('',''),
      ('high_court','High Court'),
      ('bbfc_order','BBFC Administrative Order'),
      ], css="col-md-6")
  }}

    {{forms.text_field('Application made by','injunction_obtained_by', obj.injunction_obtained_by, css="col-md-6")}}
    {{forms.text_field('Contact address (URL)','injunction_obtained_by_url', obj.injunction_obtained_by_url, css="col-md-6")}}


  {{forms.text_field('Applications represented by','injunction_represented_by', obj.injunction_represented_by, css="col-md-6")}}

  <h3>Injunction applies to</h3>
  {% for order in orders %}
    <div class="row">
      <input type="hidden" name="order_id" value="{{order.id}}" />
      <input type="hidden" name="network_name" value="{{order.network_name}}" />
        <div class="col-md-2">
            <label for="network_name">Network</label>
            <select name="network_name">
            {% for isp in config.ISPS %}
              <option value="{{ isp }}" {{'selected' if isp == order.network_name else '' }}>{{ isp }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
      {{ forms.text_field('Court order URL', 'applies_url', order['url']) }}
        </div>
        <div class="col-md-2">
      {{ forms.text_field('Date', 'order_date', order.date, placeholder='yyyy-mm-dd') }}
        </div>
        <div class="col-md-2">
      {{ forms.text_field('Expiry Date', 'expiry_date', order.expiry_date, placeholder='yyyy-mm-dd') }}
        </div>
        <div class="col-md-2">
          {{ forms.check_field('Delete', 'delete', order.id, False) }}
        </div>
    </div>
  {% endfor %}
    
    <div><button class="btn btn-default" id="addrow">Add new court order</button></div>
<p class="hint">Dates should be entered in yyyy-mm-dd format.</p>

  <h3>Additional information</h3>

  {{forms.textarea_field('Other docs (html)','other_docs', obj.other_docs)}}
  {{forms.textarea_field('Affected sites description (html)','sites_description', obj.sites_description)}}


      {{forms.submit('Update')}}
    </div>
  </div>
</form>

  </div>
  <div class="row" id="template" style="display:none">
  <input type="hidden" name="order_id" value="" />
  <input type="hidden" name="network_name" value="" />
  <input type="hidden" name="delete" value="" />
    <div class="col-md-2">
        <label for="network_name">Network</label>
        <select name="network_name">
          <option disabled selected></option>
        {% for isp in config.ISPS %}
          <option value="{{ isp }}">{{ isp }}</option>
        {% endfor %}
        </select>      
    </div>
    <div class="col-md-4">
  {{ forms.text_field('Court order URL', 'applies_url', '') }}
    </div>
    <div class="col-md-2">
  {{ forms.text_field('Date', 'order_date', '', placeholder='yyyy-mm-dd') }}
    </div>
    <div class="col-md-2">
  {{ forms.text_field('Expiry Date', 'expiry_date', '', placeholder='yyyy-mm-dd') }}
    </div>
    <div class="col-md-2" style="vertical-align: bottom">
      <button class="btn btn-sm btn-default deletebtn"><span class="glyphicon glyphicon-icon-delete"></span></button>
    </div>
  </div>
</div>
{% endblock %}


