{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Legal Requests Admin" %}

{% block body %}
<div class="row">
  <div class="col-md-8">

    <h1>{{pagetitle}}</h1>
    <h2>{{ judgment.name }}</h2>
    <h3>Flag <a href="{{ url.url }}" target="_blank">{{ url.url }}</a></h3>
  </div>

</div>
<div class="row">
  <div class="col-md-6">

<form action="{{ url_for('.courtorders_site_flag_post') }}" method="POST">
    <input type="hidden" name="urlid" value="{{ url.id }}" />
{% for reason in ['Domain Inactive','Domain for sale or parked', 'Domain in legitimate usage', 'Domain currently broken', 'Domain does not resolve'] %}

{{ forms.radio_field(reason, 'reason', reason.lower().replace(' ','_'), (flag.get('reason') == reason.lower().replace(' ','_')) ) }}

{% endfor %}

<div class="form-group">
<div class="checkbox">
  <label class="control-label">
    <input type="radio" value="domain_may_be_abusive" name="reason" {{ 'checked' if flag.get('reason') == 'domain_may_be_abusive' else '' }} />
    Domain may be abusive: 
  </label>
  <select name="abusetype">
  <option value="malware" {{'selected' if flag.get('abusetype') == 'malware' else '' }}>Malware</option>
  <option value="redirects" {{'selected' if flag.get('abusetype') == 'redirects' else '' }}>Click fraud/redirects</option>
  <option value="other" {{'selected' if flag.get('abusetype') == 'other' else '' }}>Other</option>
  </select>
</div>
</div>

{{ forms.text_field('Date observed','date_observed', flag.get('date_observed',today.strftime('%Y-%m-%d')), 'yyyy-mm-dd') }}

{{ forms.textarea_field('Description','description', flag.get('description','') ) }}

{{ forms.submit('Flag court order') }}

{% if flag.id %}
<input type="submit" name="delete" value="Unflag" class="btn btn-danger" />
{% endif %}

</form> 

    </div>
    <div class="col-md-6">
        <h4>Current status</h4>
    <table class="table small">
    <tr>
    <th>ISP</th>
    <th>Status</th>
    <th>Block Type</th>
    <th>Created</th>
    </tr>
    {% for row in status %}
    <tr class="{{ 'warning'  if row.status == 'blocked' else '' }}">
    <td>{{row.name}}</td>
    <td>{{row.status}}</td>
    <td>{{row.blocktype}}</td>
    <td>{{row.created|fmdate}}</td>
    </tr>
    {% endfor %}
    </table>
    
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    
    <h3>Flag history</h3>
    <table class="table small">
    <tr>
    <th>Date</th>
    <th>Date observed</th>
    <th>Flag</th>
    <th>Description</th>
    </tr>
    {% for f in flags %}
    <tr>
    <td>{{ f.last_updated|fmtime }}</td>
    <td>{{ f.date_observed|fmdate }}</td>
    <td>{{ f.reason|replace('_',' ')|capitalize }}</td>
    <td>{{ f.description }}</td>
    </tr>    
    {% endfor %}
    </table>
    
    </div>
</div>

{%endblock %}
