{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}

{% set pagetitle = "ISP Report Admin: " + url + " on " + report.network_name %}

{% macro show_message(message) %}
{%- if message.is_multipart() -%}
{{ show_message(message.get_payload()[0]) }}
{%- else %}
{%-   if message['content-transfer-encoding'] == 'base64' %}
{%- set msg=message.get_payload().decode('base64').decode('utf8') %}
{%-   else %}
{%- set msg=message.get_payload() %}
{%-   endif %}
{%- for line in (msg|stripstyletag).splitlines() %}
{%- if (line|striptags).strip() %}
{{ line|striptags }}
{% endif %}
{%- endfor %}

{%- endif %}
{%- endmacro %}

{% block pagestyle %}
.message {
    white-space: pre-wrap;
}
{% endblock %}

{% block page_script %}

$(document).ready(function(){

});
{% endblock %}

{% block body %}
<h1>{{pagetitle}}</h1>



<div class="row">
<div class="col-md-6">

<div><strong>Reported:</strong> {{ report.created|fmtime }}</div>
<div><strong>User:</strong> {{ report.name }} ({{report.email}})</div>

<p style="margin-top: 1em; font-size: larger; font-style: italic">&ldquo;{{report.message}}&rdquo;</p>

</div>
<div class="col-md-6" style="text-align: right">
<h2>
{% if report['status'] == 'unblocked' %}
<div class="label label-success label-lg"><span class="glyphicon glyphicon-ok success"></span> Unblocked</div>
{% elif report['status'] == 'rejected' %}
<div class="label label-danger label-lg"><span class="glyphicon glyphicon-remove success"></span> Rejected</div>
{% endif %}
</h2>
</div>
</div> <!-- /.row -->
<div class="row">
<div class="col-md-12">

<h4>{{emails|length}} messages received</h4>
<table class="table table-consdensed table-bordered">
    <tr>
        <th>#</th>
    <th>From</th>
    <th>Subject</th>
    <th>Date</th>
    </tr>
{% for (email, message) in emails %}
<tr data-id="{{ email['id'] }}" class="emailrow {{ 'bg-info' if email['id'] == selected_email['id'] else '' }}">
    <td><a href="{{ url_for('.ispreports_view', network_name=network_name, url=url, msgid=email['id']) }}">{{loop.index}}</a></td>
    <td>{{message.from}}</td>
    <td>{{message.subject}}
    {% if email.id == report.resolved_email_id %}
    <span style="float: right" class="label label-{{ 'danger' if report.status == 'rejected' else 'success'}}">
      <span title="This email contains a status update" class="glyphicon glyphicon-{{ 'remove' if report.status == 'rejected' else 'ok' }}"></span>
    </span>
    {% endif %}
    </td>
    <td class="num">{{message.date.split(' +')|first}}</td>
</tr>

{% endfor %}
</table>

</div>
</div> <!-- /.row -->

<div class="row">
<div class="col-md-12">


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">

            <div class="col-md-9">
                <h4><a name="msg{{loop.index}}"></a>{{ selected_msg.subject }}</h4>
                <div>From: {{ selected_msg.from }}</div>
                <div>Date: {{ selected_msg.date }}</div>
            </div>
            
            <div class="col-md-3" style="text-align: left">
                {% if report['status'] == 'sent' %}
                    <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Close Report <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a class="deletebtn" data-id="{{selected_email.id}}" href="{{ url_for('.ispreports_status_unblocked', id=selected_email.id) }}"><span class="glyphicon glyphicon-ok"></span> Unblocked</a></li>
                    <li><a class="deletebtn" data-id="{{selected_email.id}}" href="{{ url_for('.ispreports_status_rejected', id=selected_email.id) }}"><span class="glyphicon glyphicon-remove"></span> Rejected</a></li>
                    </ul>                     
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p class="message" id="msg{{loop.index}}" style="">{{ show_message(selected_msg) }}</p>
    </div>
</div>

</div>
</div>
{% endblock body %}
