{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}

{% set pagetitle = "ISP Report Admin" %}

{% block pagestyle %}
td.center, th.center {
    text-align: center;
}
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-12">

<h1>{{pagetitle}}</h1>


<div style="margin-bottom: 1em">
  <ul class="nav nav-pills">
    <li role="presentation" class="{{ 'active' if not request.args.state  else '' }}">
        <a href="{{ url_for('.ispreports', network=request.args.network, category=request.args.category, page=request.args.get('page') ) }}">All</a>
    </li>
    <li role="presentation" class="{{ 'active' if request.args.state == 'open' else '' }}">
        <a href="{{ url_for('.ispreports', state='open', network=request.args.network, category=request.args.category, page=request.args.get('page') ) }}">Open <span class="badge">{{ reports.open_count }}</span></a>
    </li>
    <li role="presentation" class="{{ 'active' if request.args.state == 'reviewed' else '' }}">
        <a href="{{ url_for('.ispreports', state='reviewed', network=request.args.network, category=request.args.category, page=request.args.get('page') ) }}">Reviewed <span class="badge">{{ reports.review_count }}</span></a>
    </li>
    <li role="presentation" class="{{ 'active' if request.args.state == 'featured' else '' }}">
        <a href="{{ url_for('.ispreports', state='featured', network=request.args.network, category=request.args.category, page=request.args.get('page') ) }}">Featured <span class="badge">{{ reports.feature_count }}</span></a>
    </li>
    <li role="presentation" class="{{ 'active' if request.args.state == 'harmless' else '' }}">
        <a href="{{ url_for('.ispreports', state='harmless', network=request.args.network, category=request.args.category, page=request.args.get('page') ) }}">Harmless <span class="badge">{{ reports.harmless_count }}</span></a>
    </li>
    <li role="presentation" class="">|</li>
    
    <li role="presentation" class="dropdown {{'active' if request.args.network else ''}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Filter by ISP 
      {%- if request.args.get('network') %} ({{ request.args.network }}){% endif -%}
       <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation" class="">
          <a href="{{ url_for('.ispreports', state=request.args.state, category=request.args.category, page=request.args.get('page') ) }}">(all)</a> 
      </li>
    {% for isp in ['Vodafone','O2','EE','Three','Sky','VirginMedia','TalkTalk','BT','BT-Strict'] %}
    <li role="presentation" class="{{ 'active' if request.args.network == isp else '' }}">
        <a href="{{ url_for('.ispreports', network=isp, state=request.args.state, category=request.args.category, page=request.args.get('page') ) }}">{{ isp }}</a>
    </li>
    {% endfor %}
    </ul>
    </li>
    
    <li role="presentation" class="dropdown {{'active' if request.args.category else ''}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Filter by Category 
      {%- if request.args.category %} ({{ request.args.category }}){% endif -%}
       <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation" class="">
          <a href="{{ url_for('.ispreports', state=request.args.state, page=request.args.get('page') ) }}">(all)</a> 
      </li>
    {% for cat in all_categories %}
    <li role="presentation" class="{{ 'active' if request.args.category == cat else '' }}">
        <a href="{{ url_for('.ispreports', network=request.args.network, category=cat, state=request.args.state, page=request.args.get('page') ) }}">{{ cat }}</a>
    </li>
    {% endfor %}
    </ul>
    </li>
    
  </ul>
</div> 

<table class="table table-condensed">
<tr>
  <th>URL</th>
  <th class="center">URL<br/>Status</th>
  <th>Email</th>
  <th>Network</th>
  <th>Created</th>
  <th class="center"Report<br/>Status</th>
  <th>Replies</th>
  <th class="center">Reviewed</th>
  <th></th>
</tr>
{% for report in reports.reports %}
<tr>
  <td>{{report.url|noproto}}</td>
  <td class="center">  
    <a href="{{ url_for('site.site', url=report.url) }}">
    {% if report.unblocked %}
    <span class="text-success glyphicon glyphicon-ok-sign" title="URL is not blocked"></span>
    {% else %}
    <span class="text-danger glyphicon glyphicon-remove-sign" title="URL is blocked"></span>
    {% endif %}
    </a>
  </td>
  <td>{{report.email}}</td>
  <td>{{report.network_name}}</td>
  <td>{{ report.created | fmtime }}</td>
  <td class="center">

    
    {% if report.status == 'abuse' %}
    <span class="label label-danger">Abuse</span>
    {% elif report.status == 'sent' %}
        {% if report.verified == 0 %}
        <span class="label label-default">Awaiting user verification</span>
        {% else %}
        <span class="label label-info">Sent</span>
        {% endif %}
    {% elif report.status == 'rejected' %}
    <span class="label label-danger">{{ report.status|title }}</span>    
    {% elif report.status == 'unblocked' %}
    <span class="label label-success">{{ report.status|title }}</span>    
    {% else %}
    <span class="label label-default">{{ report.status|title }}</span>    
    {% endif %}
  </td>
  <td class="num">{{ report.reply_count }}</td>
  <td class="center">
  {% if report.matches_policy != None %}
      <span class="text-success glyphicon glyphicon-ok-sign" title="Block has been reviewed"></span>
  {% endif %}
  </td>
  <td>

    {%- if report.status == 'pending' -%}
    <a href="{{url_for('.ispreports_flag', url=report.url, status='cancelled', page=page)}}" class="btn btn-warning btn-sm">Cancel</a>
    {%- elif report.status != 'abuse' -%}
    <a href="{{url_for('.ispreports_flag', url=report.url, status='abuse', page=page)}}" class="btn btn-warning btn-sm">Flag</a>
    {%- elif report.status == 'abuse' -%}
    <a href="{{url_for('.ispreports_unflag', url=report.url, page=page)}}" class="btn btn-warning btn-sm">Unflag</a>
    {%- endif -%}&nbsp;<a class="btn btn-default btn-sm" href="{{url_for('.ispreports_view', url=report.url, network_name=report.network_name)}}">View</a>
  </td>
</tr>

{% endfor %}
</table>

  {{ paging.page_list('.ispreports', page, pagecount, 25, state=request.args.state, category=request.args.category, network=request.args.network ) }}

</div>
</div>

{% endblock %}


