{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}

{% set pagetitle = "ISP Report Reply Stats" %}

{% block pagestyle %}
.headerrow {
    font-size: small;
    background-color: #ededed;
    font-weight: bold;
    }

.sub {
    padding-left: 20px !important;
    }
{% endblock %}

{% block body %}
<h1>ISP Reply Stats</h1>

<div class="row">
    <div class="col-md-6">
        <div class="well">
<table class="table table-compressed">
    <tr>
        <td>Sites reported:</td>   <td class="num">{{ sent_stats.count_sites }}</td>
    </tr>
    <tr>
        <td>Reports logged:</td>   <td class="num">{{ sent_stats.count_reported }}</td>
    </tr>
    <tr>
        <td>Reports sent:</td>     <td class="num">{{ sent_stats.count_sent }}</td>
    </tr>
    <tr>
        <td>Reports answered:</td> <td class="num">{{ sent_stats.count_responded }}</td>
    </tr>
    <tr>
        <td>Reports unblocked:</td><td class="num">{{ sent_stats.count_unblocked }}</td>
    </tr>
    <tr>
        <td>Reports rejected:</td> <td class="num">{{ sent_stats.count_rejected }}</td>
    </tr>
</table>
        </div>
    </div>
</div>

<h2>Reply stats by network</h2>

<table class="table">
    <tr>
        <th>Network/Year</th>
        <th class="num">Reports Sent</th>
        <th class="num">Auto-replies logged</th>
        <th class="num">Total replies logged</th>
        <th class="num">Avg reply interval (WIP)</th>
        <th class="num">Open report count</th>
    </tr>
    {% for group, list in reply_stats|groupby('network_name') %}
    <tr><td colspan="6" class="headerrow">{{ group }}</td></tr>
    {% for row in list %}
    <tr>
        <td class="sub">{{ row.year }}</td>
        <td class="num">{{ row.reports_sent }}</td>
        <td class="num">{{ row.auto_replies_logged }}</td>
        <td class="num">{{ row.replies_logged }}</td>
        <td class="num">{{ (row.avg_response_time|string).split(', ',1)|first if row.avg_response_time else '' }}</td>
        <td class="num"><a href="{{ url_for('.ispreports', state='open', network=row.network_name) }}">{{ row.count_open }}</a></td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>

{% endblock %}

