{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}

{% set pagetitle = "ISP Report Admin" %}

{% block pagestyle %}
td.center, th.center {
    text-align: center;
}



tr:hover * .action-button {
    visibility: visible;
}

{% endblock %}

{% macro tab(active, url, name, count=None ) %}
    <li role="presentation" class="{{ 'active' if active  else '' }}">
        <a href="{{ url }}">{{ name }}
        {% if count != None %}
         <span class="badge">{{ count }}</span>
        {% endif %}
        </a>
    </li>
{% endmacro %}

{% block body %}
<div class="row">
<div class="col-md-12">

<h1>{{pagetitle}}</h1>


<div style="margin-bottom: 1em">
  <ul class="nav nav-pills">
      <li role="presentation" class="dropdown disabled"> <a> State:</a></li>
      {{ tab(not request.args.state,
             url_for('.ispreports', **args(state=None) ),
             "All")
      }}
      {{ tab(request.args.state == 'open',
             url_for('.ispreports', **args(state='open') ),
             "Open",
             reports.open_count)
      }}
      {{ tab(request.args.state == 'cancelled',
             url_for('.ispreports', **args(state='cancelled') ),
             "Cancelled",
             reports.cancel_count)
      }}
      {{ tab(request.args.state == 'reviewed',
             url_for('.ispreports', **args(state='reviewed') ),
             "Reviewed",
             reports.review_count)
      }}
      {{ tab(request.args.state == 'featured',
             url_for('.ispreports', **args(state='featured') ),
             "Featured",
             reports.feature_count)
      }}
      {{ tab(request.args.state == 'harmless',
             url_for('.ispreports', **args(state='harmless') ),
             "Harmless",
             reports.harmless_count)
      }}
      {{ tab(request.args.state == 'resubmit',
             url_for('.ispreports', **args(state='resubmit') ),
             "To resubmit",
             reports.resubmit_count)
      }}
    </ul>
    <ul class="nav nav-pills">
    <li role="presentation" class="dropdown disabled"> <a> Filters:</a></li>
    
    <li role="presentation" class="dropdown {{'active' if request.args.network else ''}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      By ISP 
      {%- if request.args.get('network') %} ({{ request.args.network }}){% endif -%}
       <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation" class="">
          <a href="{{ url_for('.ispreports', **args(network=None) ) }}">(all)</a> 
      </li>
      <li role="presentation" class="">
          <a href="{{ url_for('.ispreports', **args(network='@mobile') ) }}">(all mobile)</a>
      </li>
    {% for isp in reportable_isps %}
    <li role="presentation" class="{{ 'active' if request.args.network == isp else '' }}">
        <a href="{{ url_for('.ispreports', **args(network=isp) ) }}">{{ isp }}</a>
    </li>
    {% endfor %}
    </ul>
    </li>

    <li role="presentation" class="dropdown {{'active' if request.args.reportercategory else ''}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      By Report Category
      {%- if request.args.get('reportercategory') %} ({{ request.args.reportercategory }}){% endif -%}
       <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation" class="">
          <a href="{{ url_for('.ispreports', **args(reportercategory=None) ) }}">(all)</a> 
      </li>
      <li class="dropdown-header">Report Categories</li>
    {% for cat in reporter_categories %}
    <li role="presentation" class="{{ 'active' if request.args.reportercategory == cat.name else '' }}">
        <a href="{{ url_for('.ispreports', **args(reportercategory=cat.name) ) }}">{{ cat.name }}</a>
    </li>
    {% endfor %}
    <li class="dropdown-header">Damage Categories</li>
    {% for cat in damage_categories %}
    <li role="presentation" class="{{ 'active' if request.args.reportercategory == cat.name else '' }}">
        <a href="{{ url_for('.ispreports', **args(reportercategory=cat.name) ) }}">{{ cat.name }}</a>
    </li>
    {% endfor %}
    </ul>
    </li>
    
    <li role="presentation" class="dropdown {{'active' if request.args.category else ''}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      By Site Category 
      {%- if request.args.category %} ({{ request.args.category }}){% endif -%}
       <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation" class="">
          <a href="{{ url_for('.ispreports', **args(category=None) ) }}">(all)</a> 
      </li>
      <li role="presentation" class="">
          <a href="{{ url_for('.ispreports', **args(category='_unassigned_') ) }}">(unassigned)</a> 
      </li>
    {% for cat in all_categories %}
    <li role="presentation" class="{{ 'active' if request.args.category == cat else '' }}">
        <a href="{{ url_for('.ispreports', **args(category=cat) ) }}">{{ cat }}</a>
    </li>
    {% endfor %}
    </ul>
    </li>

    <li role="presentation" class="{{ 'active' if request.args.url else '' }}">
        <form method="GET" action="{{ request.path }}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Filter by url" name="url" value="{{ request.args.url|default('') }}">
          <span class="input-group-btn">
            <input type="submit" value="Go!" class="btn btn-default" />
          </span>

        </div><!-- /input-group -->
            {% for arg_k, arg_v in args().items()|rejectattr('0', 'equalto', 'url') %}
            <input type="hidden" name="{{ arg_k }}" value="{{ arg_v }}" />
            {% endfor %}
        </form>
    </li>
  </ul>
</div> 

<table class="table table-condensed table-hover">
<tr>
  <th class="col-md-2">URL</th>
  <th class="col-md-1 center">URL<br/>Status</th>
  <th class="col-md-2">Email</th>
  <th class="col-md-2">Network</th>
  <th class="col-md-2">Created
  {% if request.args.order == 'asc' %}
  <a href="{{ url_for('.ispreports', **args(order='desc')) }}" title="Sort by date descending"><span class="glyphicon glyphicon-chevron-up"></span></a>
  {% else %}
  <a href="{{ url_for('.ispreports', **args(order='asc')) }}" title="Sort by date ascending"><span class="glyphicon glyphicon-chevron-down"></span></a>
  {% endif %}
  </th>
  <th class="center col-md-1">Report<br/>Status</th>
  <th class="col-md-1">Replies</th>
  <!--<th class="center">Reviewed</th>-->
  <th class="col-md-2 center"><span class="glyphicon glyphicon-cog" title="Actions menu"></span></th>
</tr>
{% for report in reports.reports %}
<tr class="isp-report-row">
  <td>{{report.url|noproto}}</td>
  <td class="center">  
    <a href="{{ url_for('site.site', url=report.url) }}">
    {% if report.unblocked %}
    <span class="text-success glyphicon glyphicon-ok-sign" title="URL is not blocked"></span>
    {% else %}
    <span class="text-danger glyphicon glyphicon-remove-sign" title="URL is blocked"></span>
    {% endif %}
    </a>
  </td>
  <td>{{report.email}}</td>
  <td>{{report.network_name}}</td>
  <td>{{ report.created | fmtime }}</td>
  <td class="center">

    
    {% if report.status == 'abuse' %}
    <span class="label label-danger">Abuse</span>
    {% elif report.status == 'sent' %}
        {% if report.verified == 0 %}
        <span class="label label-default" title="Awaiting user verification">User</span>
        {% else %}
        <span class="label label-info">Sent</span>
        {% endif %}
    {% elif report.status == 'rejected' %}
    <span class="label label-danger">{{ report.status|title }}</span>    
    {% elif report.status == 'unblocked' %}
    <span class="label label-success">{{ report.status|title }}</span>    
    {% else %}
    <span class="label label-default">{{ report.status|title }}</span>    
    {% endif %}
  </td>
  <td class="center">{{ report.reply_count }}
  {% if report.matches_policy != None %}
      <span class="text-success glyphicon glyphicon-ok-sign" title="Block has been reviewed"></span>
  {% endif %}
  </td>
  <!--<td class="center"></td>-->
  <td class="" style="">
      <div class="btn-group action-button invisible">
          <a class="btn btn-default" href="{{url_for('.ispreports_view', url=report.url, network_name=report.network_name)}}" title="View report">View</a>
          <button class="dropdown-toggle btn btn-default" title="Actions for {{ report.url }}" data-toggle="dropdown">
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              {% if g.is_level() %}
    {% if report.status in ('new','pending') or (report.status == 'sent' and report.verified == 0) %}
        <li><a href="{{url_for('.ispreports_flag', url=report.url, status='cancelled', page=page)}}" class="text-warning">Cancel report</a></li>
        <li><a href="{{url_for('.ispreports_resend', url=report.url)}}" class="text-warning">Cancel report and Re-send</a></li>
    {% elif report.status == 'cancelled' %}
        <li><a href="{{url_for('.ispreports_resend', url=report.url)}}" class="text-warning">Re-send report</a></li>
    {% endif %}
              {% endif %}
    {% if report.status != 'abuse' %}
        <li><a href="{{url_for('.ispreports_flag', url=report.url, status='abuse', page=page)}}" class="text-warning">Flag report</a></li>
    {% elif report.status == 'abuse' %}
        <li><a href="{{url_for('.ispreports_unflag', url=report.url, page=page)}}" class="text-warning">Unflag report</a></li>
    {% endif %}
          </ul>
      </div>
  </td>
</tr>

{% endfor %}
</table>

  {{ paging.page_list('.ispreports', page, pagecount, 25, **args(page=None) ) }}

</div>
</div>

{% endblock %}


