{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}

{% set pagetitle = "ISP Report URL Category stats" %}

{% block body %}


<div class="row">
    <div class="col-md-9">
<h1>{{ pagetitle }}</h1>
    </div>
    <div class="col-md-3" style="padding-top: 1.55em">
        <div class="btn-group pull-right">
            <button type="button" class="btn {{ 'btn-primary' if request.args.reporter else 'btn-default' }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by Reporter Category 
                {%- if cat %} ({{ cat.name }}) {%- endif -%}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('.ispreport_category_stats') }}">( all )</a></li>
                {% for reporter in reporter_categories %}
                <li><a href="{{ url_for('.ispreport_category_stats', reporter=reporter.id) }}">{{ reporter.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<table class="table table-compressed">
    <tr>
        <th>ORG Category name</th>
        <th class="num">URL Count (primary category) </th>
        <th class="num">URL Count</th>
    </tr>
    {% for row in categories %}
    <tr>
        <td>{{ row.name }}</td>
        <td class="num">{{ row.primary_ct }}</td>
        <td class="num">{{ row.ct }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

