{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}
{% import "emails.part.html" as email %}

{% set pagetitle = "ISP Report Admin: " + url.url + " on " + report.network_name %}


{% block body %}

<h1>{{ pagetitle }}</h1>
<h2>Escalate to BBFC</h2>


<div class="row">
    <div class="col-md-12">

        <form method="POST" action="{{ url_for('.ispreports_escalate_post', id=report.id) }}">
            <h3>Site details</h3>
            {{ forms.static_field('URL','url', url.url) }}
            {{ forms.static_field('Mobile network operator', 'network_name', report.network_name) }}
            {{ forms.static_field('Mobile network contacted', 'created', report.created|fmtime) }}

            <h3>Original complaint</h3>
            <textarea rows="8" style="width: 100%; font-family: mono" name="original_complaint">{{ report.message }}</textarea>

            <h3>Additional contact information</h3>
            {{ forms.textarea_field('Submitted by', 'additional_contact', "Request originally submitted by " + report.name + " (" + (report.mailname or 'admin') + '@' +config.MAIL_DOMAIN + ")" ) }}

            <h3>Mobile network response</h3>
            {% if emailreply %}
            {{ forms.static_field('Date', 'reply_created', emailreply.created|fmtime) }}

            {{ forms.textarea_field('Reply','previous', email.show_message(emailreply.get_text_body(emailreply.decode())), rows=8) }}

            {% else %}
            <div><em>No reply or no decision received</em></div>

            {{ forms.textarea_field('Reply','previous', '', rows=8) }}
            {% endif %}




            <h3>Nature of complaint</h3>
            
            <textarea rows="8" style="width: 100%; font-family: mono" name="emailtext">{{ email_text }}</textarea>
            <div><input type="submit" value="Send" class="btn btn-default btn-lg" /></div>
        </form>
    
    </div>
</div>

{% endblock %}
