{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "ISP Report Stats" %}

{% block body %}
<h1>{{ pagetitle }}</h1>


<table class="table table-compressed">
<tr>
<th><a href="{{ url_for('.ispreport_stats', o='r') }}">Reporter</a></th>
<th><a href="{{ url_for('.ispreport_stats', o='d') }}">Damage</a></th>
<th><a href="{{ url_for('.ispreport_stats', o='n') }}">Network</a></th>
{% for yr in range(2016, currentyear) %}
<th class="num">{{ yr }}</th>
{% endfor %}
<th class="num">Total</th>
</tr>
{% for grp, yeardata in stats %}
<tr>
<td>{{ grp[0] }}</td>
<td>{{ grp[1] }}</td>
<td>{{ grp[2] }}</td>
{% for yr in range(2016,currentyear) %}
<td class="num">{{ yeardata.get(yr)|null }}</td>
{% endfor %}
<td class="num">{{ yeardata.values()|sum }}</td>
</tr>

{% endfor %}
</table>

{% endblock %}
