{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "ISP Report Stats" %}

{% block body %}
<h1>{{ pagetitle }}</h1>

<div class="row">
    <div class="col-md-6">

<h3>Reporter stats</h3>

<table class="table table-compressed">
<tr>
<th>Reporter</th>
{% for yr in range(2016, currentyear+1) %}
<th class="num">{{ yr }}</th>
{% endfor %}
<th class="num">Total</th>
</tr>
{% for grp, yeardata in reporter_stats %}
<tr>
<td>{{ grp[0] }}</td>
{% for yr in range(2016,currentyear+1) %}
<td class="num">{{ yeardata.get(yr)|null }}</td>
{% endfor %}
<td class="num">{{ yeardata.values()|sum }}</td>
</tr>

{% endfor %}
</table>

    </div>
    <div class="col-md-6">


<h3>Damage stats</h3>

<table class="table table-compressed">
<tr>
<th>Damage</th>
{% for yr in range(2016, currentyear+1) %}
<th class="num">{{ yr }}</th>
{% endfor %}
<th class="num">Total</th>
</tr>
{% for grp, yeardata in damage_stats %}
<tr>
<td>{{ grp[1] }}</td>
{% for yr in range(2016,currentyear+1) %}
<td class="num">{{ yeardata.get(yr)|null }}</td>
{% endfor %}
<td class="num">{{ yeardata.values()|sum }}</td>
</tr>

{% endfor %}
</table>

    </div>
</div>

<hr />

<a class="btn btn btn-primary pull-right" href="{{ url_for('.ispreport_stats_csv') }}">Export to CSV</a>
<h2>Full detail</h2>

<table class="table table-compressed clearfix">
<tr>
<th>Reporter</th>
<th>Damage</th>
<th>Network</th>
{% for yr in range(2016, currentyear+1) %}
<th class="num">{{ yr }}</th>
{% endfor %}
<th class="num">Total</th>
</tr>
{% for grp, yeardata in stats %}
<tr>
<td>{{ grp[0] }}</td>
<td>{{ grp[1] }}</td>
<td>{{ grp[2] }}</td>
{% for yr in range(2016,currentyear+1) %}
<td class="num">{{ yeardata.get(yr)|null }}</td>
{% endfor %}
<td class="num">{{ yeardata.values()|sum }}</td>
</tr>

{% endfor %}
</table>


{% endblock %}
