{% extends "admin.page.html" %}

{% set pagetitle = "Saved Lists Admin" %}

{% block body %}
<div class="row">
<div class="col-md-12">

<h1>{{pagetitle}}</h1>

<form action="{{ url_for('.savedlist_merge') }}" method="POST">
<div style="text-align: right">
  <input type="submit" class="btn btn-default" value="Add/upload list" />
  <input type="submit" class="btn btn-warning" value="Merge selected" />
</div>
<table class="table">
<tr>
  <th>Name</th>
  <th>Creator</th>
  <th style="width: 15%">Frontpage</th>
  <th style="width: 15%">Public</th>
  <th style="width: 10%">Merge</th>
  <th style="width: 15%"></th>
</tr>
{% for lst in lists %}
<tr>
  <td><a name="{{lst.id}}"></a><a href="{{ url_for('list.show_list', name=lst.name) }}">{{ lst.name }}</a> </td>
  <td>{{ lst.username }} </td>
  <td>
  {% if lst.frontpage %}
  <a class="btn btn-info active" href="{{ url_for('.savedlist_frontpage', id=lst.id, state=0) }}" title="List contents are cycled on the frontpage"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;On</a>
  {% else %}
  <a class="btn btn-default" href="{{ url_for('.savedlist_frontpage', id=lst.id, state=1) }}" title="List contents are not cycled on the frontpage">Off</a>
  {% endif %}
  </td>
  <td>
  {% if lst.public == True %}
  <a class="btn btn-info active" href="{{ url_for('.savedlist_hide', id=lst.id) }}" title="List is public; click to hide"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;Public</a>
  {% else %}
  <a class="btn btn-default" href="{{ url_for('.savedlist_show', id=lst.id) }}" title="List is hidden; click to make public"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;Hidden</a>
  {% endif %}
  </td>
  <td>
    <input type="checkbox" name="merge" value="{{ lst.id }}"
  </td>
  <td>
  <a href="{{ url_for('.savedlist_delete', id=lst.id) }}" title="Delete list and all entries"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
</tr>

{% endfor %}
</table>
</form>

</div>
</div>

{% endblock %}


