{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Test Cases Admin" %}

{% block body %}
<div class="row">
  <div class="col-md-9">
    <form class="form" method="POST" action="{{ url_for('.tests_update') }}">
        <input type="hidden" name="id" value="{{ test.id|null }}" />
        <legend>Add test case</legend>

        {{ forms.text_field('Name', 'name', test.name) }}
        {{ forms.textarea_field('Description', 'description', test.name) }}


        <div>
                  <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#source" aria-controls="source" role="tab" data-toggle="tab">Source</a></li>
            <li role="presentation"><a href="#rate" aria-controls="rate" role="tab" data-toggle="tab">Rate</a></li>
            <li role="presentation"><a href="#networks" aria-controls="networks" role="tab" data-toggle="tab">Networks</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="source">
                <h3>URL Source</h3>
                <input type="hidden" name="source" value="tag" />                
                {# <input type="radio" name="source" value="query" {{ 'checked' if test.filter else '' }} />
                {{ forms.select_field('Filter set', 'filter', test.filter, ['']+filters) }} #}
                {{ forms.select_field('Tag', 'tag', test.tag, ['']+tags) }}
                
            </div>
            <div role="tabpanel" class="tab-pane" id="networks">
                <h3>ISPs</h3>
                <table class="table">
                    <tr>
                    <th></th>
                    <th>Country / Network</th>
                    </tr>
                {% for country, networks in isps.eu.iteritems() | sort %}
                <tr>
                    <td colspan="2"><h4>{{ countries[country] }}</h4></td>
                </tr>
                    {% for network in networks %}
                    <tr>
                        <td>
                    {{ forms.check_field('', 'isps', network, network in (test.isps or [])) }}
                        </td>
                        <td>{{ network }}</td>
                    </tr>
                    {% endfor %}

                {% endfor %}
                </table>            
            </div>
            <div role="tabpanel" class="tab-pane" id="rate">
            {# forms.text_field('Repeat Interval', 'repeat_interval', test.repeat_interval) #}

            <h3>Rate</h3>
            <div class="row">
                <div class="col-md-4">{{ forms.text_field('Send URLs', 'batch_size', test.batch_size or 250) }}</div>
                <div class="col-md-4">{{ forms.text_field('Every ', 'check_interval_num', test.check_interval.days if test.check_interval.days else
                test.check_interval.seconds / 3600.0 if test.check_interval.seconds > 1800 else test.check_interval.seconds / 60.0 ) }}</div>
                <div class="col-md-4">{{ forms.select_field('', 'check_interval_unit', 
                'day' if test.check_interval.days else 'hour' if test.check_interval.seconds > 1800 else 'min', 
                ['min','hour','day'],  ) }}</div>
            </div>

            </div>
          </div>

        </div>


        {# forms.text_field('Check Interval', 'check_interval', test.check_interval) #}
        
        
        {{ forms.submit('Submit') }}
    </form>


  </div>
  <div class="col-md-3">
      <div class="well">

      </div>
  </div>
</div>
{% endblock %}

{% block page_script %}

{% endblock %}
