{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Test Cases Admin" %}

{% block body %}
<div>
    <a href="{{ url_for('.tests_edit') }}" class="btn btn-default">Add Test Case</a>
</div>
<div class="row">
  <div class="col-md-12">

      <table class="table table-striped">
          <tr>
              <th>Name</th>
              <th>Status</th>
              <th></th>
              <th>Progress</th>
              <th></th>
          </tr>
          {% for test in tests %}
          <tr>
              <td>{{ test.name }}</td>
              <td>{{ test.status }}</td>
              <td>
                  {% if test.status in ('RUNNING','WAITING') %}
                  <a href="{{url_for('.tests_status', id=test.id, status='paused')}}"><span class="glyphicon glyphicon-pause"></span></a>
                  {% elif test.status in ('PAUSED','NEW') %}
                  <a href="{{url_for('.tests_status', id=test.id, status='running')}}"><span class="glyphicon glyphicon-play"></span></a>
                  {% endif %}
                  {% if test.status in ('RUNNING','PAUSED','WAITING') %}
                  <a href="{{url_for('.tests_status', id=test.id, status='cancelled')}}"><span class="glyphicon glyphicon-stop"></span></a>
                  {% endif %}
              </td>
              <td>
                  {% if test.total %}
                  {{ test.sent / test.total|float }}
                  {% endif %}
              </td>

              <td>
                  <a href="{{ url_for('.tests_edit', id=test.id) }}">Edit</a>
                  <a href="{{ url_for('.tests_delete', id=test.id) }}">Delete</a>
              </td>
          </tr>

          {% endfor %}
      </table>

  </div>
</div>
{% endblock %}
