{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "Test Cases Admin" %}

{% macro queue_status(count) -%}
bg-
{%- if count < 1000 -%}
success
{%- elif count < 10000 -%}
warning
{%- else -%}
danger
{%- endif -%}
{%- endmacro %}

{% block body %}
<div>
    <a href="{{ url_for('.tests_edit') }}" class="btn btn-default">Add Test Case</a>
</div>
<div class="row">
  <div class="col-md-12">

      <table class="table table-striped">
          <tr>
              <th>Name</th>
              <th>Status</th>
              <th></th>
              <th>Progress</th>
              <th></th>
          </tr>
          {% for test in tests %}
          <tr>
              <td>{{ test.name }}</td>
              <td>
                  {{ test.status }}
                  {% if test.repeat_interval %}
                  <span class="glyphicon glyphicon-repeat"></span>
                  {% endif %}
                  <div>{{ test.status_message }}</div>
                  {% if test.repeat_interval %}
                  <div>
                      <div>Last run: {{ test.last_run|fmtime }}</div>
                      <div>Repeat after: {{ test.repeat_interval }}</div>
                  </div>
                  {% endif %}
              </td>
              <td>
                  {% if test.status in ('RUNNING','WAITING') %}
                  <a href="{{url_for('.tests_status', id=test.id, status='paused')}}"><span class="glyphicon glyphicon-pause"></span></a>
                  {% elif test.status in ('PAUSED','NEW','ERROR') %}
                  <a href="{{url_for('.tests_status', id=test.id, status='running')}}"><span class="glyphicon glyphicon-play"></span></a>
                  {% endif %}
                  {% if test.status in ('RUNNING','PAUSED','WAITING','ERROR') %}
                  <a href="{{url_for('.tests_status', id=test.id, status='cancelled')}}"><span class="glyphicon glyphicon-stop"></span></a>
                  {% endif %}
                  
              </td>
              <td>
                  {% if test.total %}
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: {{ (test.sent * 100.0 / test.total)|int }}%" aria-valuenow="{{ (test.sent * 100.0 / test.total)|int }}" aria-valuemin="0" aria-valuemax="100">
                          <span>{{ test.sent }} / {{test.total}}</span>
                      </div>
                  {% endif %}
              </td>

              <td>
                  <a href="{{ url_for('.tests_edit', id=test.id) }}">Edit</a>
                  <a href="{{ url_for('.tests_delete', id=test.id) }}">Delete</a>
              </td>
          </tr>

          {% endfor %}
      </table>

      <h3>Queue Status</h3>

      <table class="table">
          <tr>
              <th>Queue name</th>
              <th class="num">Last Updated</th>
              <th class="num">Message count</th>
          </tr>
          {% for queue in queues: %}
          <tr class="{{ queue_status(queue.message_count)}}">
              <td>{{ queue.queue_name }} {% if queue.vhost != '/' %}({{queue.vhost}}){% endif %}</td>
              <td class="num">{{ queue.last_updated|fmtime }}</td>
              <td class="num">{{ queue.message_count }}</td>
          </tr>
          {% endfor %}
      </table>

  </div>
</div>
{% endblock %}
