{% extends "BasicPage.page.html" %}

{%set pagetitle = 'Internet Filtering Statistics' %}

{% block banner_text %}

<a name="navmenu">
<ul>
    <li><a href="#notonlyadult">Not only adult content is being blocked</a></li>
    <li><a href="#allkinds">All kinds of sites are reported as blocked</a></li>
    <li><a href="#ispresponses">ISP Responses to reports</a></li>
    <li><a href="#replystats">Reply stats by ISP</a></li>
    <li><a href="#alexa">Alexa top 100,000 sites</a></li>
    <li><a href="#ispblocks">ISP Blocks by domain</a></li>
</ul>
</a>

{% endblock %}

{% block page_style %}
.headerrow {
    font-size: small;
    background-color: #ededed;
    font-weight: bold;
    }
.sub {
    padding-left: 20px !important;
    }
.backtotop {
     margin-top: -2.75em;
     text-align: right;
     font-size: smaller;
     margin-left: 2em
    }

.backtotop a {
    color: #777;
}
{% endblock %}

{% macro backtotop() %}
<div class="backtotop pull-right"><a href="#navmenu">Back to top</a></div>
{% endmacro %}

{% macro data_table(source, id=None, hide=None) %}
         <table id="{{ id }}" class="table table-striped table-condensed">
            {% set header = source.next() %}
            <tr>
                <th class="col-md-4">{{ header[0] }}</th>
                {% for col in header[1:] %}
                <th class="num">{{ col }}</th>
                {% endfor %}
            </tr>
            {% for row in source %}
            <tr class="{{ 'hidden' if hide and loop.index > hide else ''}} ">
                <td>{{ row[0] }}</td>
                {% for col in row[1:] %}
                <td class="num">{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
{% endmacro %}

{% block body %}
<div class="row">
    <div class="col-md-9">
        <h2><a name="notonlyadult"></a>Not only adult content is being blocked</h2>
        {{ backtotop() }}
        <p>The domains in these categories were identified by keyword searches
        and then double-checked by hand to ensure the categorisation was
        accurate.</p>
        {{ data_table(table_data.notonly_table_1) }}

        <p>The domains in these categories were identified by keyword searches.</p>
        {{ data_table(table_data.notonly_table_2) }}

        <h3><a name="allkinds"></a>All kinds of sites are reported as blocked</h3>
        {{ backtotop() }}

        <p>In March 2019, we looked at all the domains that people had reported
        to an ISP through Blocked as an incorrect block. We categorised all the
        domains.</p>

        {{ data_table(table_data.allkinds_table_1, 'allkinds1', 15) }}
        <div style="text-align: right; margin-top: -1.5em"><a id="allkinds_viewall" href="#">View all ...</a></div>

        <h3 class="clearfix"><a name="ispresponses"></a>ISP Responses to reports</h3>
        {{ backtotop() }}

        <table class="table table-condensed">
            <tr>
                <th>Network/Year</th>
                <th class="num">Unresolved non-policy block count</th>
                <th class="num">Unresolved policy block count</th>
                <th class="num">Resolved &amp; blocked against policy</th>
            </tr>
            {% for group, list in reply_stats|groupby('network_name') %}
            <tr><td colspan="5" class="headerrow">{{ group }}</td></tr>
            {% for row in list %}
            <tr>
                <td class="sub">{{ row.year }}</td>
                <td class="num">{{ row.count_unresolved_badblock }}</td>
                <td class="num">{{ row.count_unresolved_policyblock }}</td>
                <td class="num">{{ row.count_resolved_badblock }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>

        <h3><a name="replystats"></a>Reply stats by ISP</h3>
        {{ backtotop() }}

<table class="table table-condensed">
    <tr>
        <th>Network/Year</th>
        <th class="num">Reports Sent</th>
        <th class="num">Total replies received</th>
        <th class="num">Avg reply interval</th>
    </tr>
    {% for group, list in reply_stats|groupby('network_name') %}
    <tr><td colspan="4" class="headerrow">{{ group }}</td></tr>
    {% for row in list %}
    <tr>
        <td class="sub">{{ row.year }}</td>
        <td class="num">{{ row.reports_sent }}</td>
        <td class="num">{{ row.replies_logged }}</td>
        <td class="num">{{ (row.avg_response_time|string).split(', ',1)|first if row.avg_response_time else '' }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>

    </div>
</div>


<div class="row">
<div class="col-md-12">
    <h2><a name="alexa"></a>Alexa top 100,000 sites</h2>
        {{ backtotop() }}
<p>Blocked sites as a proportion of total sites checked</p>
<canvas id="alexa100k" width="100%" height="40"></canvas>
</div>
</div>


<div class="row">
<div class="col-md-12">
    <h2><a name="ispblocks"></a>ISP Blocks by domain</h2>
        {{ backtotop() }}
</div>
</div>
<div class="row">
{% for group, stats in domain_isp_stats.stats|groupby('description') %}
<div class="col-lg-4 col-md-6">
  <h3>{{ group }}</h3>
  <canvas id="domain{{loop.index0}}" width="100%" height="50"></canvas>

</div>
{% endfor %}
</div>
{% endblock %}

{% block page_js_libs %}
<script src="/static/chartjs/Chart.min.js"></script>
{% endblock %}


{% block page_script %}
$(document).ready(function(){
  $('#allkinds_viewall').click(function(){
    $('#allkinds1 * tr').removeClass('hidden');
    $('#allkinds_viewall').parent().hide();
    return false;
  });

  var ctx = document.getElementById("alexa100k").getContext('2d');

  var isps = {{ isps | tojson }}

  var alexa100k = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: isps,
        datasets: [
            {
                label: "Blocked Sites",
                data: {{ blocked | tojson  }},
                backgroundColor: 'red',
            },
            {
                label: "Total sites checked",
                data: {{ total | tojson }},
                backgroundColor: 'lightgray',
            }
        ]
    },
    options: {
        scales: {
            xAxes: [{
                stacked: false
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }
  });


  {% for name,stats in domain_isp_stats.stats|groupby('name') %}
  var ctx = document.getElementById("domain{{loop.index0}}").getContext('2d');
  var category_chart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: {{ stats |sort(attribute='network_name')| map(attribute='network_name') | list |tojson }},
        datasets:[
          {
              label: "Blocked Sites",
              data: {{ stats | sort(attribute='network_name') | map(attribute='block_count') | list | tojson }},
              backgroundColor: 'red'
          },

        ]
    },
    options: {
      scales: {
        xAxes: [{
          stacked: false
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }
  });
    
  {% endfor %}

});
{% endblock %}
