{% macro tab_bar() %}

<h3>Anomalies</h3>
<ul class="nav nav-tabs">
  {{ tab('New', 'admin_geo.admin_geo_anomaly_index') }}
  {{ tab('All', 'admin_geo.admin_geo_anomaly_all') }}
</ul>
{% endmacro %}

{% macro tab(title, funcname) %}
  <li role="presentation" class="{{ 'active' if request.path == url_for(funcname) else '' }}">
    <a href="{{ url_for(funcname) }}"> {{ title }}</a>
  </li>
{% endmacro %}

{% macro review_status(review) %}
<span class="label label-{{ 'danger' if review == 'blocked' else 'success' if review == 'not-blocked' else 'default' }}">
{{ review|replace('-', ' ')|title }}
</span>
{% endmacro %}

