{% extends "admin.page.html" %}
{% import "paging.part.html" as paging %}
{% import "forms.part.html" as forms %}

{% set pagetitle = "US Geo-block Results" %}

{% block body %}
<div class="row">
    <div class="col-md-12" style="margin-bottom: 3em">

        <h1>{{pagetitle}}</h1>


    </div>

</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom: 1em">
        <h3>Testing results</h3>
        <h4>{{ url }}</h4>
  </div>
</div>

<div class="row">
    <div class="col-md-12">

      <table>
        <tr>
            <td>Status:</td>
            <td>{{ result.status_forbidden and "403 (forbidden)" }}</td>
        </tr>
        <tr>
            <td>Status comparison:</td>
            <td>{% if result.status_mismatch %}Status codes are different{% else %}Status codes are the same{% endif %}</td>
        </tr>
        <tr>
            <td>Headers:</td>
            <td>{{ result.headers_added|default(0) }} added, {{ result.headers_removed|default(0) }} removed</td>
        </tr>
        <tr>
            <td>Header values:</td>
            <td>{{ result.header_value_mismatch|default(0) }} headers have changed values</td>
        </tr>
      </table>
    </div>
</div>

{% endblock %}

