{% extends "BasicPage.page.html" %}
{% import "siteforms.html" as siteforms %}

{%set pagetitle = "No results found" %}

{% block body %}

<!-- template: BasicPage -->
<div class="row">
<div class="col-md-7">

<h3>Submit {{ url|noproto }} for testing</h3>

{{ siteforms.check_form(True, url) }}

</div>
</div> <!-- /.row -->
<div class="row">
<div class="col-md-12">
    {# g.remote_content.TextAreaOne | safe #}
</div>
</div>
<div class="row shaded-row">
{{ chunks.contactChunk() }}
</div>
{% endblock %}

