
{% macro check_form(live, url='') %}
<form action="{{url_for('.check_post')}}" method="POST" class="form ">
<input type="hidden" name="submit" value="{{live | lower }}" />

<div class="form-group">
  <label for="url">Website address</label>
  <div class="control-group">
    <div class="input-group">
        <input type="text" placeholder="http://" name="url" id="url" class="form-control" {{ ("value=" ~ (url|escape)) if url else '' }} />
    <span class="input-group-btn">
    <input type="submit" value="Check site" class="btn btn-primary" />
    </span>
    </div>
  </div>
</div>

</form>
{% endmacro %}
