{% extends "BasicPage.page.html" %}
{% from "network_description.part.html" import isp_info, popover_js %}

{% macro status_names(status) %}
{{ config.STATUS_NAMES.get(status, status) }}
{% endmacro %}

{% macro err451_link(url, network) %}
<a href="https://uk.451unavailable.org/{{network}}/{{url}}" title="Error 451 page for {{url|noproto}} on {{network}}" >{{network}}</a>
{% endmacro %}

{% block page_style %}
.remote_ip {
    color: #a0a0a0;
}
#categorylist span {
    font-weight: bold;
}
h1 {
    font-size: 38px;
    line-height: 40px;
    }

{% endblock %}

{% if not thanks %}
{%set titletag = "Site report: " + domain %}
{%set pagetitle = domain %}
{%set pagerole = "Site blocking report" %}
{% else %}
{%set pagetitle = "Thank you!" %}
{% endif %}

{% block og %}
<meta property="og:site_name" content="Report mobile and Internet Service Providers blocking sites" />
<meta property="og:type" content="article" />
<meta property="article:author" content="https://www.openrightsgroup.org" />
<meta property="og:locale" content="en_GB" />
<meta property="og:title" name="twitter:title" content="Site report for {{pagetitle}}" />
<meta name="twitter:site" content="" />
<meta name="twitter:site:id" content="" />
<meta property="og:url" name="twitter:url" content="{{request.url}}" />
<meta property="og:description" name="twitter:description" content="Report incorrectly blocked sites on UK ISP and mobile networks" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" property="og:image" content="https://www.blocked.org.uk/assets/images/blocked/socialmedia/blocked_result.jpg" />

{% endblock %}

{% block subtitle %}
{% if page_title %}
<div class="page_title">{{page_title}}</div>
{% endif %}
{% endblock %}

{%block banner_text%}
{% if thanks and thanksmsg|default('unblock') in ('unblock',None) %}
{{ g.remote_chunks.unblockThanks | safe }}
{% elif thanks and thanksmsg|default('unblock') == 'flag' %}
Your feedback was successfully submitted.
{% else %}
{% endif %}
{%endblock%}

{% block urllink %}
{% if not thanks %}
{{ super() }}
{% endif %}
{% endblock %}

{%block page_menu%}
{% if not thanks %}
  {% if config.MODULE_CATEGORY %}
  <div><a href="{{ url_for('category.blocked_sites') }}">Browse more blocked sites</a></div>
  {% endif %}
  <div><a href="{{ url_for('.check',mode='live')}}">Check if a site is being blocked</a></div>
{% endif %}
{% endblock %}

{% block page_script %}
  $(document).ready(function(){
{% if activecount > 0 and not live %}
    $('#pastblock').hide();
    $('#allresults').hide();

    $('#showpast').click(function() {
      $('#pastblock').slideDown();
      return false;
    });
    $('#showallresults').click(function(){
      $('#pastblock').slideDown();
      $('#allresults').slideDown();
      return false;
    });
{% endif %}
{% if live %}
    $('#unblockbtn').addClass('btn-disabled');
    $('#unblockbtn').attr('disabled','disabled');
    StreamResults('{{url}}');
{% endif %}
    $('#copybtn').click(function(){
      $('#permalink').select();
      document.execCommand('copy');

    });
    {{ popover_js() }}
  });
{% endblock %}

{% block page_js_libs %}
{% if live %}
<script src="/static/stream.js?c=6" type="application/javascript"></script>
{% endif %}
{% endblock %}

{%macro results_table(id, results, show_lastblocked=True, show_category=False, show_status=False) %}
<table id="{{ id }}" class="table results-table">
<tr>
  <th>ISP</th>
  <th>Last Checked
      {%- if g.admin and g.admin_level == 'admin' %} / Remote IP{% endif -%}
  </th>
  {% if show_category %}
    <th>Category</th>
    <th></th>
  {% elif show_lastblocked %}
    <th>Last Blocked</th>
  {% elif show_status %}
    <th>Status</th>
  {% else %}
    <th></th>
  {% endif %}
</tr>
{% for item in results %}
<tr id="net_{{item.network_name|replace(' ','')}}" class="{{ 'error' if show_status and item.status in ('error','dnserror','sslerror') else ''}}">
  <td >
    {{ isp_info(item.network_name, networks) }}
  </td>
  <td>{{item.status_timestamp|fmtime}}
  {% if g.admin and g.admin_level == 'admin' %}
  <div class="remote_ip">{{ item.remote_ip|null }}</div>
  {% endif %}
  </td>
  {% if show_category %}
    <td>{{item.category}}
    {% if item.blocktype == 'COPYRIGHT' %}
    <p><i>This site has been
      {% if item.final_url %}
      <a href="{{item.final_url}}" rel="nofollow" target="_blank" title="View ISP court order information">blocked by court order</a>
      {% else %}
      blocked by court order
      {% endif %}
      .
    </i></p>
    {% endif %}
    </td>

    <td>
      {% if item.final_url %}
        <div><a href="{{ item.final_url }}" rel="nofollow" target="_blank">View ISP block page</a></div>
      {% endif %}
      {% if item.network_id in judgment_orders %}
        {% if judgment_orders[item.network_id].url %}
          <div><a href="{{ judgment_orders[item.network_id].url }}" target="_blank">View injunction details</a></div>
        {% endif %}
        <div><a href="https://uk.451unavailable.org/{{item.network_id}}/{{url}}" title="Error 451 page for {{url|noproto}} on {{item.network_id}}" >View 451 error page</a></div>
      {% endif %}
    </td>
  {% elif show_lastblocked %}
    <td>{{(item.last_blocked_timestamp|fmtime) or ''}}</td>
  {% elif show_status %}
    <td>{{ status_names(item.status) }}</td>
  {% endif %}
</tr>
{% endfor %}
</table>

{%endmacro%}


{%block body %}
{% if thanks %}
<h2>Unblock another site</h2>
<h3><a href="{{url}}" target="_blank" rel="nofollow">{{ domain }}</a></h3>
{% if savedlist and config.MODULE_SAVEDLIST %}
<div>This site was selected from the <a href="{{ url_for('list.show_list', name=savedlist.name) }}">{{ savedlist.name }}</a> curated list.</div>
{% endif %}
{% endif %}

{% if url_status == 'disallowed-by-robots-txt' %}
<div class="alert alert-warning" role="alert">It has not been possible to check this URL because the 
    site's <a href="http://www.robotstxt.org/" title="About robots.txt" rel="nofollow">robots.txt</a> file does not allow requests from the Blocked probes.</div>
{% endif %}

{% if judgment and judgment.url %}

<h3>This site has been blocked by <a href="{{ judgment.url }}" title="View court order information">court order</a>.</h3>

{% endif %}

{% if url.lower().startswith('https:') and alt_url_data %}
<div class="info-panel">
    <span class="glyphicon glyphicon-info-sign" style="margin-left: -1.75em; float: left; font-size: 1.5em"></span>
<p>Parental control filter systems can have difficulty providing human readable responses for HTTPS requests, due to certificate errors.  </p>

<p><a href="{{ url_for('.site', url=url.replace('https:','http:')) }}" rel="nofollow">View the non-HTTPS results</a> for this site.</p>
</div>
{% endif %}

{% if live %}
<h3>Active blocks</h3>
{% else %}
<h3>{{activecount if activecount > 0 else 'No'}} active block{{ '' if activecount == 1 else 's' }}</h3>
{% endif %}



{{results_table('active', results_blocked, show_category=True) }}


<div class="showmore">
{% if pastcount > 0 %}
  <a href="#" id="showpast">View past blocks for this site</a>
{% endif %}
{% if activecount > 0 %}
  <a href="#" id="showallresults">Show all results</a>
{% endif %}
</div>

{% if pastcount > 0 or live %}
<div id="pastblock">
{% if live %}
<h3>Past blocks</h3>
{% else %}
<h3>{{pastcount if pastcount > 0 else 'No'}} past block{{ '' if pastcount == 1 else 's' }}</h3>
{% endif %}

{{ results_table('past', results_past) }}

</div>
{% endif %}

<div id="allresults">
<h3>All results</h3>

{{ results_table('all', results_all, show_lastblocked = False, show_status=True) }}
</div>

<div> <!-- actions -->
  {% if config.MODULE_UNBLOCK %}
{% if can_unblock == true or live %}
  <a id="unblockbtn" href="{{ url_for('unblock.unblock', url=url) }}" rel="nofollow" class="btn btn-primary">Request unblock</a>
{% elif can_unblock == false %}
  <a class="btn btn-primary btn-disabled" disabled rel="nofollow">
{%- if prev_unblock_type == 'unblock' -%}
  Unblock Requested
{%- elif prev_unblock_type == 'blacklist' -%}
  Site is blacklisted
{%- elif judgment -%}
  Site is blocked by court order  
{%- else -%}
  Site has been flagged
{%- endif -%}
</a>
{% endif %}
  {% endif %}

<a href="{{url}}" target="_blank" class="btn btn-primary">Visit site</a>
{% if session.route is defined and config.MODULE_UNBLOCK%}
<a href="{{url_for('unblock.browse_next',after=url) }}" class="btn btn-primary">Try another site</a>
{% endif %}
</div>

<div class="row">

  <div class="col-md-6">
    {% if config.MODULE_UNBLOCK  %}
    {% if reports %}
      {% if report_types %}
      <h4>This site has been flagged</h4>
      <p>This site has been flagged as: <strong>{{ report_types | sort | join(", ") }}</strong></p>
        <div><a rel="nofollow" href="{{ url_for('unblock.feedback', url=url) }}">Tell us more about this site</a></div>
      {% else %}
        <h4>This site has been submitted for unblocking</h4>
        <p>Reported on {{reports[0].created|fmtime}}</p>
        <p class="report-message"><span>&ldquo;</span>{{ reports[0].message }}<span>&rdquo;</span></p>
      {% endif %}
    {% elif cjuf and cjuf.reason != 'block_appears_correct' %}
    
    <p style="margin-top: 1.5em">This page has been flagged as <b>incorrectly blocked</b> under an injunction.</p>  
    <p>It is flagged as <strong>{{ cjuf.reason.replace('_',' ').capitalize() }}</strong>.  </p>
    <div><a href="{{url_for('cms.legal_errors')}}">View all legal block errors</a></div>
    {% else %}
    <h4>Tell us about this site</h4>
    <p>For example: is the link dead, or is the domain being squatted?
      <div><a rel="nofollow" href="{{ url_for('unblock.feedback', url=url) }}">Please let us know</a></div>
    </p>
    {% endif %}
    {% endif %}
  </div>

  <div class="col-md-6">
    <h4>Link to this result</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <input class="form-control" type="text" id="permalink" name="permalink" value="{{ config.SITE_URL }}{{  url_for('.site', url=url)  }}">
            <span class="input-group-btn">
              <button title="Copy this permalink to the clipboard" id="copybtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-copy"></span></button>
            </span>
          </div>
        </div>
      </div>
    </form>
    <h4>Related results</h4>
    {% if alt_url_data %}
    <p><a href="{{ url_for('.site', url=url.replace('http:','https:')) }}">View results for the HTTPS version of this site.</a></p>
    {% endif %}

    {% if savedlist and not live and config.MODULE_SAVEDLIST %}
    <div>This site appears on the <a href="{{ url_for('list.show_list', name=savedlist.name) }}">{{ savedlist.name }}</a> user-created list.</div>
    {% endif %}

    {% if categories %}
    <div id="categorylist">This site is listed in the 
        {% for cat in categories %}
        {% if loop.last %} and {% endif %}
        {% if not loop.last and not loop.first %},{% endif %}
        <span class="label label-default" style="cursor: help" title="{{ cat.1|title }} {{ cat.0 }} category">{{ cat.0 }}</span>
        {% endfor %}
        categor{{ 'y' if categories|length == 1 else 'ies' }}.</div>
    
    <p><small><em>Category information provided by <a href="https://categorify.org" target="_blank">Categorify</a> and <a href="https://dmoztools.net" target="_blank">dmoztools.net</a></em></small></p>
    {% endif %}

  </div>

</div> <!-- /.row -->

{% if judgment %}

<div class="row">
    <div class="col-md-12">
        <h3>451 Unavailable</h3>
        <p><a href="https://www.451unavailable.org/what-is-error-451/" title="About Error 451">Error 451</a> is the status code for content which has been made unavailable for legal reasons.</p>
        <p>Status pages for <strong>{{ url|noproto }}</strong> are available for the 
        {% for network,order in judgment_orders.iteritems() %}
        {% if loop.last %} and {% endif %}
        {{ err451_link(url, order.network_name) }}
        {%- if not loop.last %}, {% endif %}
        {% endfor %}
        networks.
    </div>
</div>

{% endif %}

<div class="row shaded-row">
{{chunks.contactChunk() }}
</div>

{% endblock %}

