{%macro field(s)%}
<span class="field">{{s|safe}}</span>
{%endmacro%}

{%macro link(text, url) %}
{% if url %}
<a href="{{ url }}">{{text|safe}}</a>
{% else %}
{{ text | safe }}
{% endif %}
{% endmacro %}
<html>
<head>
    <title>{{site}} :: 451 Unavailable for legal reasons</title>
    <style type="text/css">
        .field {
            background-color: #dedede; padding: 2px;
        }
        h1 {
            background-color: #eeeeee;
            margin: -20px;
            margin-bottom: 1em;
            padding: 0.5em
        }
        body {
            margin: 20px;
            font-size: large;
        }
        li {
            margin-bottom: 0.5em;
        }
    </style>
</head>
<body>
<h1>Error 451: Unavailable For Legal Reasons</h1>

<h2>{{site}}</h2>

<p>Access to this domain has been restricted in the United Kingdom at {{ field(networks|join_en) }} following a
    Court Order {{field(site)}}/{{ field(link(judgment.case_number, orders|map(attribute='url')|first)) }} and Judgment {{ field(link(judgment.citation, judgment.judgment_url)) }}.</p>

<p>
    {% if power %}This Court Order was imposed under the <a href="{{power.legislation}}">{{field(power.name)}}</a>.{% endif %}
    The Court Order was issued on {{ field(orders|map(attribute='date')|first|fmdate) }} and is valid until {# todo expiry #} further notice.</p>

<p>The Court Order was obtained by {{field(judgment.injunction_obtained_by)}}.
    In case of error, such as a domain mistakenly identified that should not be blocked under this Order,
    you may contact them directly via [website contact page].
    Errors cannot be corrected by {{ field(networks|join_en) }}.</p>

<p>If you believe this that this web domain has been incorrectly blocked, and wish to challenge the order
itself, you can contact the {{ field(judgment.court_authority|replace('_',' ')|title) }} <!-- at [the appropriate legal authority] or
    [the address of the appropriate legal authority] -->.</p>

<p>You have the right to apply to the High Court to vary or discharge the Orders if you are affected
by the blocks which have been imposed. Any application must be made to the High Court directly and must:
    <ol>
    <li> clearly indicate your identity and status as an applicant;</li>
    <li> be supported by evidence setting out and justifying the grounds of the application,</li> and
    <li>be notified to all parties 10 days in advance.</li>
    </ol>
</p>

</body>
</html>